<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <form *ngIf="active" #floorForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="floor.id">{{l("EditFloor")}}</span>
                        <span *ngIf="!floor.id">{{l("CreateNewFloor")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" for="FloorName">{{l("FloorName")}} *</span>
                            </div>
                            <input type="text" id="FloorName" class="form-control" [(ngModel)]="floor.floorName"
                                name="FloorName" minlength="1" maxlength="25" required />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" for="Description">{{l("Description")}}</span>
                            </div>
                            <input type="text" id="Description" class="form-control" [(ngModel)]="floor.description"
                                name="Description" minlength="1" maxlength="255" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" for="Status">{{l("Status")}}</span>
                            </div>
                            <select class="form-control" [(ngModel)]="floor.status"
                                [ngModelOptions]="{standalone: true}">

                                <option [value]="status.id" *ngFor="let status of statusList">
                                    {{ status.value }}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" for="Tel">{{l("JobType")}}</span>
                            </div>
                            <select class="form-control" [(ngModel)]="floor.type"
                            [ngModelOptions]="{standalone: true}">

                            <option [value]="type.id" *ngFor="let type of typeJobsList">
                                {{ type.value }}
                            </option>
                        </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default"
                        (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!floorForm.form.valid"
                        [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i>
                        <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>