<div [@routerTransition]>
  <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
    <div class="kt-subheader kt-grid__item">
      <div [class]="containerClass">
        <div class="kt-subheader__main">
          <h3 class="kt-subheader__title">
            <span>{{l("Floors")}}</span>
          </h3>
          <span class="kt-subheader__separator kt-subheader__separator--v"></span>
          <span class="kt-subheader__desc">
            {{l("FloorsHeaderInfo")}}
          </span>
        </div>
        <div class="kt-subheader__toolbar">
          <div class="kt-subheader__wrapper">
            <button *ngIf="isGranted('Pages.Master.Services.Floor.CreateEdit')" (click)="createFloor()" class="btn btn-primary blue"><i
                    class="fa fa-plus"></i> {{l("CreateNewFloor")}}</button>
          </div>
        </div>
      </div>
    </div>
    <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
      <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__body">
          <div class="row align-items-center">
            <!--<Primeng-Datatable-Start>-->
            <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
              <p-table #dataTable (onLazyLoad)="getFloors($event)" [value]="primengTableHelper.records"
                rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true"
                [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
                [resizableColumns]="primengTableHelper.resizableColumns">
                <ng-template pTemplate="header">
                  <tr>
                    <th style="width: 10%" [hidden]="!isGrantedAny('Pages.Master.Services.Floor.CreateEdit')">
                      {{l('Actions')}}</th>
                    <th style="width: 30%" pSortableColumn="floorName">
                      {{l('FloorName')}}
                      <p-sortIcon field="floor.floorName"></p-sortIcon>
                    </th>
                    <th style="width: 30%">
                      {{l('Description')}}
                    </th>
                    <th style="width: 15%">
                      {{l('Status')}}
                    </th>
                    <th style="width: 15%">
                      {{l('Type')}}
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-record="$implicit">
                  <tr>
                    <td style="width: 10%" [hidden]="!isGrantedAny('Pages.Master.Services.Floor.CreateEdit')">
                      <div class="btn-group dropdown" dropdown container="body">
                        <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                          <i class="fa fa-cog"></i><span class="caret"></span> {{l("Actions")}}
                        </button>
                        <ul class="dropdown-menu" *dropdownMenu>
                          <li>
                            <a href="javascript:;" (click)="viewModal.show(record)">{{l('View')}}</a>
                          </li>
                          <li>
                            <a href="javascript:;" *ngIf="permission.isGranted('Pages.Master.Services.Floor.CreateEdit')" (click)="createOrEditModal.show(record.floor.id)">{{l('Edit')}}</a>
                          </li>
                          <li>
                            <a href="javascript:;" *ngIf="entityHistoryEnabled"
                              (click)="showHistory(record.floor)">{{l('History')}}</a>
                          </li>
                        </ul>
                      </div>
                    </td>
                    <td style="width: 30%">
                      {{record.floor.floorName}}
                    </td>
                    <td style="width: 30%">
                      {{record.floor.description}}
                    </td>
                    <td style="width: 15%">
                      {{record.floor.status === 'Y' ? 'Còn hiệu lực' : 'Hết hiệu lực' }}
                    </td>
                    <td style="width: 15%">
                      {{record.floor.type === '1' ? 'GJ + MA' : 'BP' }}
                    </td>
                  </tr>
                </ng-template>
              </p-table>
              <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                {{l('NoData')}}
              </div>
              <div class="primeng-paging-container">
                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                  (onPageChange)="getFloors($event)" [totalRecords]="primengTableHelper.totalRecordsCount"
                  [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                </p-paginator>
                <span class="total-records-count">
                  {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                </span>
              </div>
            </div>
            <!--<Primeng-Datatable-End>-->
          </div>
        </div>
      </div>
    </div>

    <createOrEditFloorModal #createOrEditModal (modalSave)="getFloors()"></createOrEditFloorModal>
    <viewFloorModal #viewModal></viewFloorModal>
    <entityTypeHistoryModal #entityTypeHistoryModal></entityTypeHistoryModal>
  </div>
</div>