<div bsModal #viewModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="viewModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{l("Details")}}</span>
                </h4>
                <button type="button" class="close" (click)="close()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6 mb-3">
                        <h6>{{l("FloorName")}} :</h6>
                        {{ item.floor.floorName }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("Description")}} :</h6>
                        {{ item.floor.description }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("Status")}} :</h6>
                        {{item.floor.status === 'Y' ? 'Còn hiệu lực' : 'Hết hiệu lực' }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("Type")}} :</h6>
                        {{item.floor.type === '1' ? 'GJ + MA' : 'BP' }}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="btn btn-primary blue"
                    (click)="close()">{{l("Close")}}</button>
            </div>
        </div>
    </div>

</div>