<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #deskAdvisorForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="deskAdvisor.id">{{l("EditDeskAdvisor")}}</span>
                        <span *ngIf="!deskAdvisor.id">{{l("CreateNewDeskAdvisor")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" for="DeskName">{{l("DeskName")}} *</span>
                            </div>
                            <input type="text" id="DeskName" class="form-control" [(ngModel)]="deskAdvisor.deskName" name="DeskName"
                            minlength="1" maxlength="25" required />
                        </div>   
                    </div>

                    <div class="form-group">
                       <div class="input-group">
                           <div class="input-group-prepend">
                                <span class="input-group-text" for="AdvisorCode">{{l("AdvisorCode")}}</span>
                           </div>
                           <input type="text" id="AdvisorCode" class="form-control" [(ngModel)]="deskAdvisor.advisorCode" name="AdvisorCode"
                            minlength="1" maxlength="25" disabled/>
                       </div>
                        
                    </div>

                    <div class="form-group">
                       <div class="input-group">
                           <div class="input-group-prepend">
                            <span class="input-group-text" for="AdvisorId">{{l("AdvisorName")}}</span>
                           </div>
                           <select (change)="onChangeSelectedAdvisor($event)" class="form-control" [(ngModel)]="deskAdvisor.advisorId" [ngModelOptions]="{standalone: true}">
                            <option value=""></option>
                            <option class="row" [value]="advisor.id" *ngFor="let advisor of advisors">
                                {{ advisor.empCode }}  -  {{ advisor.empName }}
                            </option>
                        </select>
                       </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" for="Description">{{l("Description")}}</span>
                            </div>
                            <input type="text" id="Description" class="form-control" [(ngModel)]="deskAdvisor.description" name="Description"
                                minlength="1" maxlength="25" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" for="Status">{{l("Status")}}</span>
                            </div>
                            <select class="form-control" [(ngModel)]="deskAdvisor.status" [ngModelOptions]="{standalone: true}">

                                <option [value]="status.id" *ngFor="let status of statusList">
                                   {{ status.name }}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default"
                        (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!deskAdvisorForm.form.valid"
                        [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i>
                        <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>