<div [@routerTransition]>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
      <div class="kt-subheader kt-grid__item">
        <div [class]="containerClass">
          <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
              <span>{{l("DeskAdvisors")}}</span>
            </h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <span class="kt-subheader__desc">
              {{l("DeskAdvisorsHeaderInfo")}}
            </span>
          </div>
          <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">
              <button *ngIf="isGranted('Pages.Master.Services.DeskAdvisor.CreateEdit')" (click)="createDeskAdvisor()" class="btn btn-primary blue"><i
                      class="fa fa-plus"></i> {{l("CreateNewDeskAdvisor")}}</button>
            </div>
          </div>
        </div>
      </div>
      <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
        <div class="kt-portlet kt-portlet--mobile">
          <div class="kt-portlet__body">
            <!-- <form class="kt-form" autocomplete="off">
              <div>
                <div class="row align-items-center">
                  <div class="col-xl-12">
                    <div class="form-group m-form__group align-items-center">
                      <div class="input-group">
                        <input [(ngModel)]="filterText" name="filterText" autoFocus class="form-control m-input"
                          [placeholder]="l('SearchWithThreeDot')" type="text">
                        <span class="input-group-btn">
                          <button (click)="getDeskAdvisors()" class="btn btn-primary" type="submit"><i
                              class="flaticon-search-1"></i></button>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form> -->
  
            <div class="row align-items-center">
              <!--<Primeng-Datatable-Start>-->
              <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                <p-table #dataTable (onLazyLoad)="getDeskAdvisors($event)" [value]="primengTableHelper.records"
                  rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true"
                  [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
                  [resizableColumns]="primengTableHelper.resizableColumns">
                  <ng-template pTemplate="header">
                    <tr>
                      <th style="width: 10%" [hidden]="!isGrantedAny('Pages.Master.Services.DeskAdvisor.CreateEdit', 'Pages.Master.Services.DeskAdvisor.Delete')">
                        {{l('Actions')}}</th>
                      <th style="width: 10%">
                        {{l('DeskName')}}
                      </th>
                      <th style="width: 8%">
                        {{l('AdvisorCode')}}
                      </th>
                      <th style="width: 15%" pSortableColumn="advisorName">
                        {{l('AdvisorName')}}
                        <p-sortIcon field="deskAdvisor.advisorName"></p-sortIcon>
                      </th>
                      <th style="width: 15%">
                        {{l('Description')}}
                      </th>
                      <th style="width: 10%">
                        {{l('Status')}}
                      </th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-record="$implicit">
                    <tr>
                      <td style="width: 10%" [hidden]="!isGrantedAny('Pages.Master.Services.DeskAdvisor.CreateEdit', 'Pages.Master.Services.DeskAdvisor.Delete')">
                        <div class="btn-group dropdown" dropdown container="body">
                          <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                            <i class="fa fa-cog"></i><span class="caret"></span> {{l("Actions")}}
                          </button>
                          <ul class="dropdown-menu" *dropdownMenu>
                            <li>
                              <a href="javascript:;" (click)="viewModal.show(record)">{{l('View')}}</a>
                            </li>
                            <li>
                              <a href="javascript:;" *ngIf="permission.isGranted('Pages.Master.Services.DeskAdvisor.CreateEdit')" (click)="createOrEditModal.show(record.deskAdvisor.id)">{{l('Edit')}}</a>
                            </li>
                            <li>
                              <a href="javascript:;" *ngIf="permission.isGranted('Pages.Master.Services.DeskAdvisor.Delete')" (click)="deleteDeskAdvisor(record.deskAdvisor)">{{l('Delete')}}</a>
                            </li>
                            <li>
                              <a href="javascript:;" *ngIf="entityHistoryEnabled"
                                (click)="showHistory(record.deskAdvisor)">{{l('History')}}</a>
                            </li>
                          </ul>
                        </div>
                      </td>
                      <td style="width: 10%">
                        <span class="ui-column-title"> {{l('DeskName')}}</span>
                        {{record.deskAdvisor.deskName}}
                      </td>
                      <td style="width:8%">
                        <span class="ui-column-title"> {{l('AdvisorCode')}}</span>
                        {{record.deskAdvisor.advisorCode}}
                      </td>
                      <td style="width:15%">
                        <span class="ui-column-title"> {{l('AdvisorName')}}</span>
                        {{record.deskAdvisor.advisorName}}
                      </td>
                      <td style="width:15%">
                        <span class="ui-column-title"> {{l('Description')}}</span>
                        {{record.deskAdvisor.description}}
                      </td>
                      <td style="width:10%">
                        <span class="ui-column-title"> {{l('Status')}}</span>
                        {{record.deskAdvisor.status === 'Y' ? 'Còn hiệu lực' : 'Hết hiệu lực'}}
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
                <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                  {{l('NoData')}}
                </div>
                <div class="primeng-paging-container">
                  <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                    (onPageChange)="getDeskAdvisors($event)" [totalRecords]="primengTableHelper.totalRecordsCount"
                    [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                  </p-paginator>
                  <span class="total-records-count">
                    {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                  </span>
                </div>
              </div>
              <!--<Primeng-Datatable-End>-->
            </div>
          </div>
        </div>
      </div>
  
      <createOrEditDeskAdvisorModal #createOrEditModal (modalSave)="getDeskAdvisors()"></createOrEditDeskAdvisorModal>
      <viewDeskAdvisorModal #viewModal></viewDeskAdvisorModal>
      <entityTypeHistoryModal #entityTypeHistoryModal></entityTypeHistoryModal>
    </div>
  </div>