<div bsModal #viewModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="viewDeskAdvisorModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{l("Details")}}</span>
                </h4>
                <button type="button" class="close" (click)="close()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6 mb-3">
                        <h6>{{l("DeskName")}} :</h6>
                        {{ item.deskAdvisor.deskName }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("AdvisorName")}} :</h6>
                        {{ item.deskAdvisor.advisorName }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("AdvisorCode")}} :</h6>
                        {{ item.deskAdvisor.advisorCode }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("Description")}} :</h6>
                        {{ item.deskAdvisor.description }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("Status")}} :</h6>
                        {{ item.deskAdvisor.status }}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="btn btn-primary blue"
                    (click)="close()">{{l("Close")}}</button>
            </div>
        </div>
    </div>

</div>