<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #bankForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="bank.id">{{l("EditBank")}}</span>
                        <span *ngIf="!bank.id">{{l("CreateNewBank")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group col-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" for="Bank_Code">{{l("BankCode")}} *</span>
                                </div>
                                <input type="text" id="Bank_Code" class="form-control" [(ngModel)]="bank.bankCode"
                                    name="Bank_Code" minlength="1" maxlength="25" required />
                            </div>
                        </div>

                        <div class="form-group col-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" for="Bank_Name">{{l("BankName")}}</span>
                                </div>
                                <input type="text" id="Bank_Name" class="form-control" [(ngModel)]="bank.bankName"
                                    name="Bank_Name" minlength="1" maxlength="255" />
                            </div>
                        </div>

                        <div class="row">
                        </div>
                        <div class="form-group col-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" for="Bank_Add">{{l("BankAdd")}}</span>
                                </div>
                                <input type="text" id="Bank_Add" class="form-control" [(ngModel)]="bank.bankAdd"
                                    name="Bank_Add" minlength="1" maxlength="25" />
                            </div>
                        </div>

                        <div class="form-group col-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" for="Tel">{{l("Tel")}}</span>
                                </div>
                                <input type="text" id="Tel" class="form-control" [(ngModel)]="bank.tel" name="Tel"
                                    minlength="1" maxlength="25" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text text-center" for="Fax">{{l("Fax")}}</span>
                                </div>
                                <input type="text" id="Fax" class="form-control" [(ngModel)]="bank.fax" name="Fax"
                                    minlength="1" maxlength="25" />
                            </div>
                        </div>

                        <div class="form-group col-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" for="Email">{{l("Email")}}</span>
                                </div>
                                <input type="text" id="Email" class="form-control" [(ngModel)]="bank.email" name="Email"
                                    minlength="1" maxlength="25" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default"
                        (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!bankForm.form.valid"
                        [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i>
                        <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>