<div bsModal #viewModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{l("Details")}}</span>
                </h4>
                <button type="button" class="close" (click)="close()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6 mb-3">
                        <h6>{{l("BankCode")}} :</h6>
                        {{ item.bank.bankCode }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("BankName")}} :</h6>
                        {{ item.bank.bankName }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("BankAdd")}} :</h6>
                        {{ item.bank.bankAdd }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("Tel")}} :</h6>
                        {{ item.bank.tel }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("Fax")}} :</h6>
                        {{ item.bank.fax }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("Email")}} :</h6>
                        {{ item.bank.email }}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="btn btn-primary blue"
                    (click)="close()">{{l("Close")}}</button>
            </div>
        </div>
    </div>

</div>