<div
    bsModal
    #createOrEditModal="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="createOrEditModal"
    aria-hidden="true"
    [config]="{ backdrop: 'static' }"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form
                *ngIf="active"
                #mstGenProvincesForm="ngForm"
                novalidate
                (ngSubmit)="save()"
                autocomplete="off"
            >
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="mstGenProvinces.id">{{
                            l("EditMstGenProvinces")
                        }}</span>
                        <span *ngIf="!mstGenProvinces.id">{{
                            l("CreateNewMstGenProvinces")
                        }}</span>
                    </h4>
                    <button
                        type="button"
                        class="close"
                        (click)="close()"
                        aria-label="Close"
                        [disabled]="saving"
                    >
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6 input-group warpper3 parent">
							<label class="input-group-addon labelStl"
							for="MstGenProvinces_Code"
                                >{{ l("Code") }} *</label
                            >
                            <input
                                type="text"
                                id="MstGenProvinces_Name"
                                class="form-input ipStRequire"
                                [(ngModel)]="mstGenProvinces.code"
                                name="Code"
                                required
                            />
                        </div>
                        <div class="col-md-6 input-group warpper3 parent">
							<label 
							class="input-group-addon labelStl"
							for="MstGenProvinces_Name"
                                >{{ l("Name") }} *</label
                            >
                            <input
                                type="text"
                                id="MstGenProvinces_Name"
                                class="form-input ipStRequire"
                                [(ngModel)]="mstGenProvinces.name"
                                name="Name"
                                required
                            />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6  input-group warpper3 parent">
							<label 
							class="input-group-addon labelStl"
							for="MstGenProvinces_PopulationAmount">{{
                                l("PopulationAmount")
                            }}</label>
                            <input
                                type="text"
                                id="MstGenProvinces_PopulationAmount"
                                class="form-input"
                                [(ngModel)]="mstGenProvinces.populationAmount"
                                name="PopulationAmount"
                            />
                        </div>

                        <div class="col-md-6 input-group warpper3 parent">
							<label 
							class="input-group-addon labelStl"
							for="MstGenProvinces_SquareAmount">{{
                                l("SquareAmount")
                            }}</label>
                            <input
                                type="text"
                                id="MstGenProvinces_SquareAmount"
								class="form-input"
                                [(ngModel)]="mstGenProvinces.squareAmount"
                                name="SquareAmount"
                            />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 input-group warpper3 parent">
							<label 
							class="input-group-addon labelStl"
							for="MstGenProvinces_Ordering">{{
                                l("Ordering")
                            }}</label>
                            <input
                                type="text"
                                id="MstGenProvinces_Ordering"
                                class="form-input"
                                [(ngModel)]="mstGenProvinces.ordering"
                                name="Ordering"
                            />
                        </div>

                        <div class="col-md-4 input-group warpper3 parent">
							<label class="input-group-addon labelStl"
							for="MstGenProvinces_Status"
                                >{{l("Status") }} *</label
                            >
                            <input
                                type="text"
                                id="MstGenProvinces_Status"
                                class="form-input ipStRequire"
                                [(ngModel)]="mstGenProvinces.status"
                                name="Status"
                                required
                            />
                        </div>

                        <div class="col-md-4 input-group warpper3 parent">
							<label 
							class="input-group-addon labelStl"
							for="MstGenProvinces_Ordering">{{
                                l("SubregionId")
                            }}</label>
                            <input
                                type="text"
                                id="MstGenProvinces_SubRegionId"
                                class="form-input ipStRequire"
                                [(ngModel)]="mstGenProvinces.subRegionId"
                                name="SubregionId"
                            />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button
                        [disabled]="saving"
                        type="button"
                        class="btn btn-default"
                        (click)="close()"
                    >
                        {{ l("Cancel") }}
                    </button>
                    <button
                        type="submit"
                        class="btn btn-primary blue"
                        [disabled]="!mstGenProvincesForm.form.valid"
                        [buttonBusy]="saving"
                        [busyText]="l('SavingWithThreeDot')"
                    >
                        <i class="fa fa-save"></i> <span>{{ l("Save") }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
