<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #cusTypeForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="customerType.id">{{l("EditCustomerType")}}</span>
                        <span *ngIf="!customerType.id">{{l("CreateNewCustomerType")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="form-group col-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text text-center" for="CusTypeCode">{{l("CusTypeCode")}}</span>
                                </div>
                                <input type="text" id="CusTypeCode" class="form-control" [(ngModel)]="customerType.cusTypeCode" name="CusTypeCode"
                            minlength="1" maxlength="25" required />
                            </div>
                        </div>

                        <div class="form-group col-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text text-center" for="CusTypeName">{{l("CusTypeName")}}</span>
                                </div>
                                <input type="text" id="CusTypeName" class="form-control" [(ngModel)]="customerType.cusTypeName"
                                name="CusTypeName" minlength="1" maxlength="255" />
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default"
                        (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!cusTypeForm.form.valid"
                        [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i>
                        <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>