<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #mstSleAreasForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="mstSleAreas.id">{{l("EditMstSleAreas")}}</span>
                        <span *ngIf="!mstSleAreas.id">{{l("CreateNewMstSleAreas")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
							<div class="row">
								<div class="col-md-6 input-group warpper3 parent">
									<label class="input-group-addon labelStl" for="MstSleAreas_Name">{{l("Name")}} *</label>
									<input type="text" id="MstSleAreas_Name" class="form-input ipStRequire" [(ngModel)]="mstSleAreas.name" name="Name"     required/>
								</div>
					
								<div class="col-md-6 input-group warpper3 parent">
									<label class="input-group-addon labelStl" for="MstSleAreas_Status">{{l("Status")}}</label>
									<input type="text" id="MstSleAreas_Status" class="form-input " [(ngModel)]="mstSleAreas.status" name="Status"    />
								</div>
							</div>
							<div class="row">
								<div class="col-md-6 input-group warpper3 parent">
									<label class="input-group-addon labelStl" for="MstSleAreas_Description">{{l("Description")}}</label>
									<input type="text" id="MstSleAreas_Description" class="form-input " [(ngModel)]="mstSleAreas.description" name="Description"    />
								</div>
					
								<div class="col-md-6 input-group warpper3 parent">
									<label class="input-group-addon labelStl" for="MstSleAreas_Ordering">{{l("Ordering")}}</label>
									<input type="number" id="MstSleAreas_Ordering" class="form-input " [(ngModel)]="mstSleAreas.ordering" name="Ordering"  />
								</div>
							</div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!mstSleAreasForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>