<div [@routerTransition]>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
      <div class="kt-subheader kt-grid__item">
        <div [class]="containerClass">
          <div class="kt-subheader__main">
              <h3 class="kt-subheader__title">
                  <span>{{l("MstSleAreas")}}</span>
              </h3>
              <span class="kt-subheader__separator kt-subheader__separator--v"></span>
              <span class="kt-subheader__desc">
                  {{l("MstSleAreasHeaderInfo")}}
              </span>
          </div>
          <div class="kt-subheader__toolbar">
              <div class="kt-subheader__wrapper">
                  <button (click)="exportToExcel()" class="btn btn-outline-success"><i class="fa fa-file-excel"></i> {{l("ExportToExcel")}}</button>
                  <button *ngIf="isGranted('Pages.MstSleAreas.Create')" (click)="createMstSleAreas()" 
              class="btn btn-primary blue"><i class="fa fa-plus"></i> {{l("CreateNewMstSleAreas")}}</button>
              </div>
          </div>
        </div>
      </div>
      <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
          <div class="kt-portlet kt-portlet--mobile">
              <div class="kt-portlet__body">
                  <form class="kt-form" autocomplete="off">
                      <div>
                          <div class="row align-items-center">
                              <div class="col-xl-12">
                                  <div class="form-group m-form__group align-items-center">
                                      <div class="input-group">
                                          <input [(ngModel)]="filterText" name="filterText" autoFocus class="form-control m-input" [placeholder]="l('SearchWithThreeDot')" type="text">
                                          <span class="input-group-btn">
                                              <button class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                          </span>
                                      </div>
                                  </div>
                              </div>
                          </div>
                           <div class="row" [hidden]="!advancedFiltersAreShown">
                               <div class="col-md-12">
                                   <div class="kt-separator kt-separator--border-dashed"></div>
                               </div>
  
  
                              <div class="col-md-3">
                                  <div class="form-group">
                                      <label for="NameFilter">{{l("Name")}}</label>
                                      <input type="text" class="form-control" id="NameFilter" name="nameFilter" [(ngModel)]="nameFilter">
                                  </div>
                              </div>
                              <div class="col-md-3">
                                  <div class="form-group">
                                      <label for="StatusFilter">{{l("Status")}}</label>
                                      <input type="text" class="form-control" id="StatusFilter" name="statusFilter" [(ngModel)]="statusFilter">
                                  </div>
                              </div>
                              <div class="col-md-3">
                                  <div class="form-group">
                                      <label for="DescriptionFilter">{{l("Description")}}</label>
                                      <input type="text" class="form-control" id="DescriptionFilter" name="descriptionFilter" [(ngModel)]="descriptionFilter">
                                  </div>
                              </div>
                              <div class="col-md-3">
                                  <div class="form-group">
                                      <label for="MinOrderingFilter">{{l("MinMax")}} {{l("Ordering")}}</label>
                                      <div class="input-group">
                                          <input type="number" class="form-control" id="MinOrderingFilter" [(ngModel)]="minOrderingFilter" placeholder="{{l('MinValue')}}" name="minOrderingFilter" />
                                          <input type="number" class="form-control" [(ngModel)]="maxOrderingFilter" placeholder="{{l('MaxValue')}}" name="maxOrderingFilter" />
                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-3">
                                  <div class="form-group">
                                      <label for="IsNoneAssignmentFilter">{{l("IsNoneAssignment")}}</label>
                                      <input type="text" class="form-control" id="IsNoneAssignmentFilter" name="isNoneAssignmentFilter" [(ngModel)]="isNoneAssignmentFilter">
                                  </div>
                              </div>
                          </div>
                          <div class="row mb-2">
                              <div class="col-sm-12">
                                  <span class="clickable-item text-muted" *ngIf="!advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-down"></i> {{l("ShowAdvancedFilters")}}</span>
                                  <span class="clickable-item text-muted" *ngIf="advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-up"></i> {{l("HideAdvancedFilters")}}</span>
                              </div>
                          </div>
                      </div>
                  </form>
  
                  <div class="row align-items-center">
                       <!--<Primeng-Datatable-Start>-->
                        <div class="col-12"
                        >
                       <p-table #dt
                                    [value]="recordsYard"
                                    rows="10"
                                    [paginator]="false"
                                    [lazy]="true"
                                    selectionMode="single"
                                    (onRowSelect)="onRowSelected($event)"
                                    [(selection)]="selectYard"
                                    [resizableColumns]="true"
                                    columnResizeMode="expand">
                           <ng-template pTemplate="header">
                               <tr>
                                   <th style="width: 150px" pSortableColumn="code" pResizableColumn>
                                       {{l('Code')}}
                                       
                                   </th>
                                   <th style="width: 150px" pSortableColumn="name" pResizableColumn>
                                       {{l('Name')}}
                                       
                                   </th>    
                               </tr>
                               <tr>
                                   <th>
                                     <input pInputText type="text" (input)="getMstSleYards()"  class="ui-column-filter"  [(ngModel)]="codeYardFilter">
                                   </th>
                                   <th>
                                     <input pInputText type="text" (input)="getMstSleYards()"  class="ui-column-filter"  [(ngModel)]="nameYardFilter">
                                   </th>
                               </tr>
                           </ng-template>                           
                           <ng-template pTemplate="body" let-record="$implicit">
                               <tr [pSelectableRow]="record">
                                   <td style="width:50%">
                                           {{record.code}}
                                       </td>
                                   <td style="width:50%">
                                           {{record.name}}
                                       </td>
                               </tr>
                           </ng-template>
                       </p-table>
                       <div class="primeng-no-data" *ngIf="totalRecordsYardCount == 0">
                           {{l('NoData')}}
                       </div>
                   </div>
                   <!--<Primeng-Datatable-End>-->


                      <!--<Primeng-Datatable-Start>-->
                      <div class="col-12"
                           >
                          <p-table #dataTable
                                       [value]="records"
                                       rows="10"
                                       [paginator]="false"
                                       [lazy]="true"
                                       [resizableColumns]="true"
                                       columnResizeMode="expand">
                              <ng-template pTemplate="header">
                                  <tr>
                                      <th style="width: 130px" [hidden]="!isGrantedAny('Pages.MstSleAreas.Edit', 'Pages.MstSleAreas.Delete')" pResizableColumn>{{l('Actions')}}</th>
                                      <th style="width: 150px" pSortableColumn="name" pResizableColumn>
                                          {{l('Name')}}
                                          <p-sortIcon field="mstSleAreas.name"></p-sortIcon>
                                      </th>
                                      <th style="width: 150px" pSortableColumn="status" pResizableColumn>
                                          {{l('Status')}}
                                          <p-sortIcon field="mstSleAreas.status"></p-sortIcon>
                                      </th>
                                      <th style="width: 150px" pSortableColumn="description" pResizableColumn>
                                          {{l('Description')}}
                                          <p-sortIcon field="mstSleAreas.description"></p-sortIcon>
                                      </th>
                                      <th style="width: 150px" pSortableColumn="ordering" pResizableColumn>
                                          {{l('Ordering')}}
                                          <p-sortIcon field="mstSleAreas.ordering"></p-sortIcon>
                                      </th>
                                      <th style="width: 150px" pSortableColumn="isNoneAssignment" pResizableColumn>
                                          {{l('IsNoneAssignment')}}
                                          <p-sortIcon field="mstSleAreas.isNoneAssignment"></p-sortIcon>
                                      </th>
                                  </tr>
                                  <tr>
                                      <th></th>
                                      <th>
                                        <input pInputText type="text" (input)="getMstSleAreas()"  class="ui-column-filter"  [(ngModel)]="nameFilter">
                                      </th>
                                      <th>
                                        <input pInputText type="text" (input)="getMstSleAreas()"  class="ui-column-filter"  [(ngModel)]="statusFilter">
                                      </th>
                                      <th>
                                        <input pInputText type="text" (input)="getMstSleAreas()"  class="ui-column-filter"  [(ngModel)]="descriptionFilter">
                                      </th>
                                      <th></th>
                                      <th></th>
                                  </tr>
                              </ng-template>                           
                              <ng-template pTemplate="body" let-record="$implicit">
                                  <tr>
                                      <td style="width: 130px"
                                          [hidden]="!isGrantedAny('Pages.MstSleAreas.Edit', 'Pages.MstSleAreas.Delete')">
                                         <div class="btn-group dropdown" dropdown container="body">
                                              <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                  <i class="fa fa-cog"></i><span class="caret"></span> {{l("Actions")}}
                                              </button>
                                                  <ul class="dropdown-menu"  *dropdownMenu>
                                                  <li>
                                                      <a href="javascript:;"
                                                          (click)="viewMstSleAreasModal.show(record)">{{l('View')}}</a>
                                                  </li>
                                                  <li>
                                                      <a href="javascript:;" *ngIf="permission.isGranted('Pages.MstSleAreas.Edit')"
                                                          (click)="createOrEditMstSleAreasModal.show(record.mstSleAreas.id)">{{l('Edit')}}</a>
                                                  </li>
                                                  <li>
                                                      <a href="javascript:;" *ngIf="permission.isGranted('Pages.MstSleAreas.Delete')"
                                                          (click)="deleteMstSleAreas(record.mstSleAreas)">{{l('Delete')}}</a>
                                                  </li>
                                              </ul>
                                          </div>
                                      </td>
                                      <td style="width:150px">
                                              {{record.mstSleAreas.name}}
                                          </td>
                                      <td style="width:150px">
                                              {{record.mstSleAreas.status}}
                                          </td>
                                      <td style="width:150px">
                                              {{record.mstSleAreas.description}}
                                          </td>
                                      <td style="width:150px">
                                              {{record.mstSleAreas.ordering}}
                                          </td>
                                      <td style="width:150px">
                                              {{record.mstSleAreas.isNoneAssignment}}
                                          </td>
                                  </tr>
                              </ng-template>
                          </p-table>
                          <div class="primeng-no-data" *ngIf="totalRecordsCount == 0">
                              {{l('NoData')}}
                          </div>
                      </div>
                      <!--<Primeng-Datatable-End>-->
                  </div>
              </div>
          </div>
      </div>
  
      <createOrEditMstSleAreasModal #createOrEditMstSleAreasModal (yardId)="yardId" ></createOrEditMstSleAreasModal>
      <viewMstSleAreasModal #viewMstSleAreasModal></viewMstSleAreasModal>
      
    </div>
  </div>
  