<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{l("Details")}}</span>
                </h4>
                <button type="button" class="close" (click)="close()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-6 mb-3">
                        <h6>{{l("Name")}} :</h6>
                        {{ item.mstSleAreas.name }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("Status")}} :</h6>
                        {{ item.mstSleAreas.status }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("Description")}} :</h6>
                        {{ item.mstSleAreas.description }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("Ordering")}} :</h6>
                        {{ item.mstSleAreas.ordering }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("IsNoneAssignment")}} :</h6>
                        {{ item.mstSleAreas.isNoneAssignment }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("CreationTime")}} :</h6>
                        {{ item.mstSleAreas.creationTime | momentFormat:'YYYY-MM-DD HH:mm:ss' }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("LastModificationtTime")}} :</h6>
                        {{ item.mstSleAreas.lastModificationtTime | momentFormat:'YYYY-MM-DD HH:mm:ss' }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("IsDeleted")}} :</h6>
                        {{ item.mstSleAreas.isDeleted }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("DeletionTime")}} :</h6>
                        {{ item.mstSleAreas.deletionTime | momentFormat:'YYYY-MM-DD HH:mm:ss' }}
                    </div>


                </div>

            </div>
            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="btn btn-primary blue" (click)="close()">{{l("Close")}}</button>
            </div>
        </div>
    </div>

</div>
