<div [@routerTransition]>
	<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
    <div class="kt-subheader kt-grid__item">
      <div [class]="containerClass">
        <div class="kt-subheader__main">
          <h3 class="kt-subheader__title">
            <span>{{"BPGroup" | localize}}</span>
          </h3>
          <span class="kt-subheader__separator kt-subheader__separator--v"></span>
          <span class="kt-subheader__desc">
            {{"ManageBPGroup" | localize}}
          </span>
        </div>
        <div class="kt-subheader__toolbar">
          <div class="kt-subheader__wrapper">
            <button *ngIf="'Pages.Master.ServicesRepairProgress.BPGroup.CreateEdit' | permission" class="btn btn-primary" (click)="createBPGroupModal.show()"><i class="fa fa-plus"></i>
              {{"CreateNewBPGroup" | localize}}</button>
          </div>
        </div>
      </div>
    </div>
    <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
      <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__body">
          <form class="kt-form" autocomplete="off">
            <div>
              <div class="row mb-4">
                <div class="col-xl-12">
                  <div class="form-group m-form__group align-items-center">
                    <div class="input-group">
                      <input [(ngModel)]="filters.filterText" name="filterText" autoFocus class="form-control m-input" [placeholder]="l('SearchWithThreeDot' | localize)" type="text">
                      <span class="input-group-btn">
                        <button (click)="getBPGroups()" class="btn btn-primary" type="submit">
                          <i class="flaticon-search-1" [attr.aria-label]="l('Search')"></i>
                        </button>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mb-4">
                <div class="col-xl-6">
                  <div class="kt-checkbox-list">
                    <label for="isActive" class="kt-checkbox">
                      <input id="isActive" type="checkbox" name="isActive" [(ngModel)]="filters.isActive">
                      {{"Active" | localize}}
                      <span></span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </form>
          <div class="row align-items-center">
            <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
              <p-table #dataTable (onLazyLoad)="getBPGroups($event)" [value]="primengTableHelper.records"
                rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false"
                [lazy]="true" [scrollable]="true" ScrollWidth="100%"
                [responsive]="primengTableHelper.isResponsive"
                [resizableColumns]="primengTableHelper.resizableColumns">
                <ng-template pTemplate="header">
                  <tr>
                    <th style="width: 130px"
                      [hidden]="!(['Pages.Master.ServicesRepairProgress.BPGroup.CreateEdit', 'Pages.Master.ServicesRepairProgress.BPGroup.Delete'] | permissionAny)">
                      {{'Actions' | localize}}
                    </th>
                    <th pSortableColumn="groupName">
                      {{'GroupName' | localize}}
                      <p-sortIcon field="groupName"></p-sortIcon>
                    </th>
                    <th>
                      {{'GroupDesc' | localize}}
                      <p-sortIcon field="groupDesc"></p-sortIcon>
                    </th>
                    <th pSortableColumn="ordering">
                      {{'Ordering' | localize}}
                      <p-sortIcon field="ordering"></p-sortIcon>
                    </th>
                    <th pSortableColumn="isActive">
                      {{'Active' | localize}}
                      <p-sortIcon field="isActive"></p-sortIcon>
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-record="$implicit">
                  <tr>
                    <td style="width: 130px"
                      [hidden]="!(['Pages.Master.ServicesRepairProgress.BPGroup.CreateEdit', 'Pages.Master.ServicesRepairProgress.BPGroup.Delete'] | permissionAny)">
                      <div class="btn-group dropdown" dropdown container="body">
                        <button dropdownToggle class="dropdown-toggle btn btn-sm btn-primary">
                          <i class="fa fa-cog"></i><span class="caret"></span>
                          {{"Actions" | localize}}
                        </button>
                        <ul class="dropdown-menu" *dropdownMenu>
                          <li>
                            <a href="javascript:;"
                              *ngIf="'Pages.Master.ServicesRepairProgress.BPGroup.CreateEdit' | permission"
                              (click)="editBPGroupModal.show(record.id)">{{'Edit' | localize}}</a>
                          </li>
                          <li>
                            <a href="javascript:;"
                              *ngIf="'Pages.Master.ServicesRepairProgress.BPGroup.Delete' | permission"
                              (click)="deleteBPGroup(record)">{{'Delete' | localize}}</a>
                          </li>
                        </ul>
                      </div>
                    </td>
                    <td>
                      <span class="ui-column-title"> {{'GroupName' | localize}}</span>
                      {{record.groupName}}
                    </td>
                    <td>
                      <span class="ui-column-title"> {{'GroupDesc' | localize}}</span>
                      {{record.groupDesc}}
                    </td>
                    <td>
                      <span class="ui-column-title"> {{'Ordering' | localize}}</span>
                      {{record.ordering}}
                    </td>
                    <td>
                      <span class="ui-column-title">{{'Active' | localize}}</span>
                      <span *ngIf="record.isActive" class="kt-badge kt-badge--success kt-badge--inline">
                        {{'Yes' | localize}}
                      </span>
                      <span *ngIf="!record.isActive" class="kt-badge kt-badge--dark kt-badge--inline">
                        {{'No' | localize}}
                      </span>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
              <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                {{'NoData' | localize}}
              </div>
              <div class="primeng-paging-container">
                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                  (onPageChange)="getBPGroups($event)"
                  [totalRecords]="primengTableHelper.totalRecordsCount"
                  [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                </p-paginator>
                <span class="total-records-count">
                  {{'TotalRecordsCount' | localize:primengTableHelper.totalRecordsCount}}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <createBPGroupModal #createBPGroupModal (modalSave)="getBPGroups()"></createBPGroupModal>
    <editBPGroupModal #editBPGroupModal (modalSave)="getBPGroups()"></editBPGroupModal>
	</div>
</div>