<div bsModal #modal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true" [config]="{backdrop: 'static'}">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form *ngIf="active" #BPGroupCreateForm="ngForm" class="form-validation" novalidate (ngSubmit)="save()">
        <div class="modal-header">
          <h4 class="modal-title">
            <span>{{"CreateNewBPGroup" | localize}}</span>
          </h4>
          <button type="button" class="close" (click)="close()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>{{"Group Name" | localize}} *</label>
            <input id="GroupName" #BPGroupNameInput="ngModel" type="text" name="Name" class="form-control"
              [ngClass]="{'edited':BPGroup.groupName}" [(ngModel)]="BPGroup.groupName" required maxlength="32">
            <validation-messages [formCtrl]="BPGroupNameInput"></validation-messages>
          </div>
          <div class="form-group">
            <label>{{"Description" | localize}}</label>
            <input class="form-control" type="text" name="groupDesc" [(ngModel)]="BPGroup.groupDesc" maxlength="255">
          </div>
          <div class="form-group">
            <label>{{"Ordering" | localize}}</label>
            <input class="form-control" type="number" min="1" name="ordering" [(ngModel)]="BPGroup.ordering" required>
          </div>
          <div class="kt-checkbox-list">
            <label class="kt-checkbox">
              <input id="isActive" type="checkbox" name="isActive" [(ngModel)]="BPGroup.isActive">
              {{"Active" | localize}}
              <span></span>
            </label>
          </div>
        </div>
        <div class="modal-footer">
          <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()">
            {{"Cancel" | localize}}
          </button>
          <button type="submit" class="btn btn-primary" [disabled]="!BPGroupCreateForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot' | localize)">
            <i class="fa fa-save"></i> <span>{{"Save" | localize}}</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>