<div appBsModal #editModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="editModal" aria-hidden="true" [config]="{backdrop: 'static', keyboard: !saving}">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form #BPGroupEditForm="ngForm" role="form" novalidate class="form-validation" (submit)="save()" *ngIf="BPGroup && active">
        <div class="modal-header">
          <h5 class="modal-title">
            <span>{{"EditBPGroup" | localize}}: {{BPGroup.groupName}}</span>
          </h5>
          <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')" [disabled]="saving">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="GroupName">{{"BPGroupName" | localize}} *</label>
            <input id="GroupName" #nameInput="ngModel" type="text" name="groupName" class="form-control"
              [ngClass]="{'edited':BPGroup.groupName}" [(ngModel)]="BPGroup.groupName" required maxlength="32">
            <validation-messages [formCtrl]="nameInput"></validation-messages>
          </div>
          <div class="form-group">
            <label for="GroupDesc">{{"BPGroupDesc" | localize}}</label>
            <input id="GroupName" #nameInput="ngModel" type="text" name="groupName" class="form-control"
              [ngClass]="{'edited':BPGroup.groupDesc}" [(ngModel)]="BPGroup.groupDesc" maxlength="255">
            <validation-messages [formCtrl]="nameInput"></validation-messages>
          </div>
          <div class="form-group">
            <label for="Ordering">{{"BPGroupOrdering" | localize}} *</label>
            <input id="Ordering" type="number" name="ordering" class="form-control" min="1"
              [ngClass]="{'edited':BPGroup.ordering}" [(ngModel)]="BPGroup.ordering" required>
          </div>
          <div class="kt-checkbox-list">
            <label class="kt-checkbox">
              <input id="IsActive" type="checkbox" name="IsActive" [(ngModel)]="BPGroup.isActive">
              {{"Active" | localize}}
              <span></span>
            </label>
          </div>
        </div>
        <div class="modal-footer">
          <button 
            type="button" 
            [disabled]="saving" 
            class="btn btn-secondary" 
            (click)="close()"
          >
            {{"Cancel" | localize}}
          </button>
          <button 
            type="submit" 
            [buttonBusy]="saving" 
            [busyText]="l('SavingWithThreeDot')" 
            class="btn btn-primary"
            [disabled]="!BPGroupEditForm.form.valid || saving"
          >
            <i class="fa fa-save"></i> <span>{{"Save" | localize}}</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>