/*style*/


.input-group{
    position: relative;
    display: block;
    padding: 2px;
    border-collapse: separate;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    direction: ltr;
    .input-group-addon{
        padding: 0px;
        margin: 0px;
        width: 33%;
        height: 100%;
        border-right: 0;
        text-align: right;
        padding: 6px 12px;
        font-weight: 400;
        line-height: 1;
        color: #555;
        text-align: center;
        background-color: #eee;
        border: 1px solid #ccc;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        white-space: nowrap;
        float: left;
        display: flex;
        margin-left: 2px;
        margin-top: 2px;
    }
    .form-input{
        width:65%;
        height: 100%;
        margin-bottom: 0;
        float: left;
        margin-right: 2px;
        margin-top: 2px;
    }
}

.parent{
    max-height: 30px;
}
.ipStRequire{
    background-color: #ffc!important;
}
@media screen {
    .center{
        max-width: 1600px;
        min-width: 900px;
    }
}
