<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #mstSleLookupForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="mstSleLookup.id">{{l("EditMstSleLookup")}}</span>
                        <span *ngIf="!mstSleLookup.id">{{l("CreateNewMstSleLookup")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
							<div class="row">
								<div class="col-md-6 input-group warpper3 parent">
									<label class="input-group-addon labelStl" for="MstSleLookup_Code">{{l("Code")}} *</label>
									<input type="text" id="MstSleLookup_Code" class="form-input ipStRequire" [(ngModel)]="mstSleLookup.code" name="Code"     required/>
								</div>
					
								<div class="col-md-6 input-group warpper3 parent">
									<label class="input-group-addon labelStl" for="MstSleLookup_Name">{{l("Name")}} *</label>
									<input type="text" id="MstSleLookup_Name" class="form-input ipStRequire" [(ngModel)]="mstSleLookup.name" name="Name"     required/>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6 input-group warpper3 parent">
									<label class="input-group-addon labelStl" for="MstSleLookup_Status">{{l("Status")}} *</label>
									<input type="text" id="MstSleLookup_Status" class="form-input ipStRequire" [(ngModel)]="mstSleLookup.status" name="Status"     required/>
								</div>
					
								<div class="col-md-6 input-group warpper3 parent">
									<label class="input-group-addon labelStl" for="MstSleLookup_Description">{{l("Description")}}</label>
									<input type="text" id="MstSleLookup_Description" class="form-input" [(ngModel)]="mstSleLookup.description" name="Description"    />
								</div>
							</div>
							<div class="row">
								<div class="col-md-6 input-group warpper3 parent">
									<label class="input-group-addon labelStl" for="MstSleLookup_Ordering">{{l("Ordering")}}</label>
									<input type="number" id="MstSleLookup_Ordering" class="form-input" [(ngModel)]="mstSleLookup.ordering" name="Ordering"  />
								</div>
					
								<div class="col-md-6 input-group warpper3 parent">
									<label class="input-group-addon labelStl" for="MstSleLookup_Value">{{l("Value")}}</label>
									<input type="text" id="MstSleLookup_Value" class="form-input" [(ngModel)]="mstSleLookup.value" name="Value"    />
								</div>
							</div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!mstSleLookupForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>