<div [@routerTransition]>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
      <div class="kt-subheader kt-grid__item">
        <div [class]="containerClass">
          <div class="kt-subheader__main">
              <h3 class="kt-subheader__title">
                  <span>{{l("MstSleLookup")}}</span>
              </h3>
              <span class="kt-subheader__separator kt-subheader__separator--v"></span>
              <span class="kt-subheader__desc">
                  {{l("MstSleLookupHeaderInfo")}}
              </span>
          </div>
          <div class="kt-subheader__toolbar">
              <div class="kt-subheader__wrapper">
                  <button (click)="exportToExcel()" class="btn btn-outline-success"><i class="fa fa-file-excel"></i> {{l("ExportToExcel")}}</button>
                  <button *ngIf="isGranted('Pages.MstSleLookup.Create')" (click)="createMstSleLookup()" 
              class="btn btn-primary blue"><i class="fa fa-plus"></i> {{l("CreateNewMstSleLookup")}}</button>
              </div>
          </div>
        </div>
      </div>
      <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
          <div class="kt-portlet kt-portlet--mobile">
              <div class="kt-portlet__body">
                  <form class="kt-form" autocomplete="off">
                      <div>
                          <div class="row align-items-center">
                              <div class="col-xl-12">
                                  <div class="form-group m-form__group align-items-center">
                                      <div class="input-group">
                                          <input [(ngModel)]="filterText" name="filterText" autoFocus class="form-control m-input" [placeholder]="l('SearchWithThreeDot')" type="text">
                                          <span class="input-group-btn">
                                              <button (click)="getMstSleLookup()" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                          </span>
                                      </div>
                                  </div>
                              </div>
                          </div>
                           <div class="row" [hidden]="!advancedFiltersAreShown">
                               <div class="col-md-12">
                                   <div class="kt-separator kt-separator--border-dashed"></div>
                               </div>
  
  
                              <div class="col-md-3">
                                  <div class="form-group">
                                      <label for="CodeFilter">{{l("Code")}}</label>
                                      <input type="text" class="form-control" id="CodeFilter" name="codeFilter" [(ngModel)]="codeFilter">
                                  </div>
                              </div>
                              <div class="col-md-3">
                                  <div class="form-group">
                                      <label for="NameFilter">{{l("Name")}}</label>
                                      <input type="text" class="form-control" id="NameFilter" name="nameFilter" [(ngModel)]="nameFilter">
                                  </div>
                              </div>
                              <div class="col-md-3">
                                  <div class="form-group">
                                      <label for="StatusFilter">{{l("Status")}}</label>
                                      <input type="text" class="form-control" id="StatusFilter" name="statusFilter" [(ngModel)]="statusFilter">
                                  </div>
                              </div>
                              <div class="col-md-3">
                                  <div class="form-group">
                                      <label for="DescriptionFilter">{{l("Description")}}</label>
                                      <input type="text" class="form-control" id="DescriptionFilter" name="descriptionFilter" [(ngModel)]="descriptionFilter">
                                  </div>
                              </div>
                          </div>
                          <div class="row mb-2">
                              <div class="col-sm-12">
                                  <span class="clickable-item text-muted" *ngIf="!advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-down"></i> {{l("ShowAdvancedFilters")}}</span>
                                  <span class="clickable-item text-muted" *ngIf="advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-up"></i> {{l("HideAdvancedFilters")}}</span>
                              </div>
                          </div>
                      </div>
                  </form>
  
                  <div class="row align-items-center">
                      <!--<Primeng-Datatable-Start>-->
                      <div class="col-12"
                           [busyIf]="primengTableHelper.isLoading">
                          <p-table #dataTable
                                       (onLazyLoad)="getMstSleLookup($event)"
                                       [value]="primengTableHelper.records"
                                       rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
                                       [paginator]="false"
                                       [lazy]="true"
                                       [responsive]="primengTableHelper.isResponsive"
                                       [resizableColumns]="true"
                                       columnResizeMode="expand">
                              <ng-template pTemplate="header">
                                  <tr>
                                      <th style="width: 130px" [hidden]="!isGrantedAny('Pages.MstSleLookup.Edit', 'Pages.MstSleLookup.Delete')" pResizableColumn>{{l('Actions')}}</th>
                                      <th style="width: 150px" pSortableColumn="code" pResizableColumn>
                                          {{l('Code')}}
                                          <p-sortIcon field="mstSleLookup.code"></p-sortIcon>
                                      </th>
                                      <th style="width: 150px" pSortableColumn="name" pResizableColumn>
                                          {{l('Name')}}
                                          <p-sortIcon field="mstSleLookup.name"></p-sortIcon>
                                      </th>
                                      <th style="width: 150px" pSortableColumn="status" pResizableColumn>
                                          {{l('Status')}}
                                          <p-sortIcon field="mstSleLookup.status"></p-sortIcon>
                                      </th>
                                      <th style="width: 150px" pSortableColumn="description" pResizableColumn>
                                          {{l('Description')}}
                                          <p-sortIcon field="mstSleLookup.description"></p-sortIcon>
                                      </th>
                                      <th style="width: 150px" pSortableColumn="ordering" pResizableColumn>
                                          {{l('Ordering')}}
                                          <p-sortIcon field="mstSleLookup.ordering"></p-sortIcon>
                                      </th>
                                      <th style="width: 150px" pSortableColumn="value" pResizableColumn>
                                          {{l('Value')}}
                                          <p-sortIcon field="mstSleLookup.value"></p-sortIcon>
                                      </th>
                                  </tr>
                                  <tr>
                                      <th></th>
                                      <th>
                                        <input pInputText type="text" (input)="getMstSleLookup()"  class="ui-column-filter"  [(ngModel)]="codeFilter">
                                      </th>
                                      <th>
                                        <input pInputText type="text" (input)="getMstSleLookup()"  class="ui-column-filter"  [(ngModel)]="nameFilter">
                                      </th>
                                      <th>
                                        <input pInputText type="text" (input)="getMstSleLookup()"  class="ui-column-filter"  [(ngModel)]="statusFilter">
                                      </th>
                                      <th>
                                        <input pInputText type="text" (input)="getMstSleLookup()"  class="ui-column-filter"  [(ngModel)]="descriptionFilter">
                                      </th>
                                      <th></th>
                                      <th></th>
                                  </tr>
                              </ng-template>                           
                              <ng-template pTemplate="body" let-record="$implicit">
                                  <tr>
                                      <td style="width: 130px"
                                          [hidden]="!isGrantedAny('Pages.MstSleLookup.Edit', 'Pages.MstSleLookup.Delete')">
                                         <div class="btn-group dropdown" dropdown container="body">
                                              <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                  <i class="fa fa-cog"></i><span class="caret"></span> {{l("Actions")}}
                                              </button>
                                                  <ul class="dropdown-menu"  *dropdownMenu>
                                                  <li>
                                                      <a href="javascript:;"
                                                          (click)="viewMstSleLookupModal.show(record)">{{l('View')}}</a>
                                                  </li>
                                                  <li>
                                                      <a href="javascript:;" *ngIf="permission.isGranted('Pages.MstSleLookup.Edit')"
                                                          (click)="createOrEditMstSleLookupModal.show(record.mstSleLookup.id)">{{l('Edit')}}</a>
                                                  </li>
                                                  <li>
                                                      <a href="javascript:;" *ngIf="permission.isGranted('Pages.MstSleLookup.Delete')"
                                                          (click)="deleteMstSleLookup(record.mstSleLookup)">{{l('Delete')}}</a>
                                                  </li>
                                              </ul>
                                          </div>
                                      </td>
                                      <td style="width:150px">
                                              <span class="ui-column-title"> {{l('Code')}}</span>
                                              {{record.mstSleLookup.code}}
                                          </td>
                                      <td style="width:150px">
                                              <span class="ui-column-title"> {{l('Name')}}</span>
                                              {{record.mstSleLookup.name}}
                                          </td>
                                      <td style="width:150px">
                                              <span class="ui-column-title"> {{l('Status')}}</span>
                                              {{record.mstSleLookup.status}}
                                          </td>
                                      <td style="width:150px">
                                              <span class="ui-column-title"> {{l('Description')}}</span>
                                              {{record.mstSleLookup.description}}
                                          </td>
                                      <td style="width:150px">
                                              <span class="ui-column-title"> {{l('Ordering')}}</span>
                                              {{record.mstSleLookup.ordering}}
                                          </td>
                                      <td style="width:150px">
                                              <span class="ui-column-title"> {{l('Value')}}</span>
                                              {{record.mstSleLookup.value}}
                                          </td>
                                  </tr>
                              </ng-template>
                          </p-table>
                          <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                              {{l('NoData')}}
                          </div>
                          <div class="primeng-paging-container">
                              <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                           #paginator
                                           (onPageChange)="getMstSleLookup($event)"
                                           [totalRecords]="primengTableHelper.totalRecordsCount"
                                           [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                              </p-paginator>
                              <span class="total-records-count">
                                  {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                              </span>
                          </div>
                      </div>
                      <!--<Primeng-Datatable-End>-->
                  </div>
              </div>
          </div>
      </div>
  
      <createOrEditMstSleLookupModal #createOrEditMstSleLookupModal (modalSave)="getMstSleLookup()"></createOrEditMstSleLookupModal>
      <viewMstSleLookupModal #viewMstSleLookupModal></viewMstSleLookupModal>
      
    </div>
  </div>
  