<div [@routerTransition]>
  <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
    <div class="kt-subheader kt-grid__item">
      <div [class]="containerClass">
        <div class="kt-subheader__main">
          <h3 class="kt-subheader__title">
            <span>{{l("Footer")}}</span>
          </h3>
          <span class="kt-subheader__separator kt-subheader__separator--v"></span>
          <span class="kt-subheader__desc">
            {{l("FooterHeadersInfo")}}
          </span>
        </div>
      </div>
    </div>
    <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
      <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__body">
          <div class="row align-items-center">
            <!--<Primeng-Datatable-Start>-->
            <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
              <p-table #dataTable (onLazyLoad)="getFooters($event)" [value]="primengTableHelper.records"
                rows="{{primengTableHelper.defaultRecordsCountPerPage}}" rowKey="code" [paginator]="false" [lazy]="true"
                [responsive]="primengTableHelper.isResponsive" selectionMode="single" [(selection)]="footer"
                [scrollable]="true" scrollHeight="300px" (onRowSelect)="onRowSelect($event)">
                <ng-template pTemplate="header">
                  <tr>
                    <th class="text-center" style="width: 30%">
                      {{l('FooterCode')}}
                    </th>
                    <th class="text-center" style="width: 30%">
                      {{l('FooterName')}}
                    </th>
                    <th class="text-center" style="width: 40%">
                      {{l('Description')}}
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-record="$implicit">
                  <tr [pSelectableRow]="record">
                    <td style="width: 30%">
                      {{record.footer.code}}
                    </td>
                    <td style="width: 30%">
                      {{record.footer.name}}
                    </td>
                    <td style="width: 40%">
                      {{record.footer.description}}
                    </td>
                  </tr>
                </ng-template>
              </p-table>
              <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                {{l('NoData')}}
              </div>
              <div class="primeng-paging-container">
                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                  (onPageChange)="getFooters($event)" [totalRecords]="primengTableHelper.totalRecordsCount"
                  [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                </p-paginator>
                <span class="total-records-count">
                  {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
  <div class="kt-portlet kt-portlet--mobile pt-2">
    <div class="kt-portlet__body">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" for="FooterTmv">{{l("TMVFooterInformation")}}</span>
          </div>
          <textarea *ngIf="footer !== null" type="text" id="FooterTmv" class="form-control"
            [(ngModel)]="footer.footerTmv" name="FooterTmv" minlength="1" maxlength="500"></textarea>
          <textarea *ngIf="footer === null" type="text" id="FooterTmv" class="form-control" name="FooterTmv"
            minlength="1" maxlength="500"></textarea>
        </div>
      </div>

      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" for="TenantFooter">{{l("DealerFooterInformation")}}</span>
          </div>
          <textarea *ngIf="footer !== null" type="text" id="TenantFooter" class="form-control"
            [(ngModel)]="footer.tenantFooter" name="TenantFooter" minlength="1" maxlength="500" rows="3"></textarea>
          <textarea *ngIf="footer === null" type="text" id="TenantFooter" class="form-control" name="TenantFooter"
            minlength="1" maxlength="500" rows="3"></textarea>
        </div>
      </div>
    </div>
  </div>
</div>