<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #mstSleDealerGroupsForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="mstSleDealerGroups.id">{{l("EditMstSleDealerGroups")}}</span>
                        <span *ngIf="!mstSleDealerGroups.id">{{l("CreateNewMstSleDealerGroups")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                            <div class="row">
								<div class="input-group warpper3 parent">
									<label class="input-group-addon labelstl" for="MstSleDealerGroups_GroupName">{{l("GroupName")}}</label>
									<input type="text" id="MstSleDealerGroups_GroupName" class="form-input ipStRequire" [(ngModel)]="mstSleDealerGroups.groupName" name="GroupName"   required />
								</div>
					
								<div class="input-group warpper3 parent">
									<label class="input-group-addon labelstl" for="MstSleDealerGroups_Description">{{l("Description")}}</label>
									<input type="text" id="MstSleDealerGroups_Description" class="form-input " [(ngModel)]="mstSleDealerGroups.description" name="Description"    />
                                </div>
                            </div>
                            <div class="row">
								<div class="input-group warpper3 parent">
									<label class="input-group-addon labelstl" for="MstSleDealerGroups_Status">{{l("Status")}}</label>
									<input type="text" id="MstSleDealerGroups_Status" class="form-input ipStRequire" [(ngModel)]="mstSleDealerGroups.status" name="Status"   required />
								</div>
					
								<div class="input-group warpper3 parent">
									<label class="input-group-addon labelstl" for="MstSleDealerGroups_Ordering">{{l("Ordering")}}</label>
									<input type="number" id="MstSleDealerGroups_Ordering" class="form-input ipStRequire" [(ngModel)]="mstSleDealerGroups.ordering" name="Ordering" required />
                                </div>
                            </div>

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!mstSleDealerGroupsForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>