<div [@routerTransition]>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
      <div class="kt-subheader kt-grid__item">
        <div [class]="containerClass">
          <div class="kt-subheader__main">
              <h3 class="kt-subheader__title">
                  <span>{{l("MstSleDealerGroups")}}</span>
              </h3>
              <span class="kt-subheader__separator kt-subheader__separator--v"></span>
              <span class="kt-subheader__desc">
                  {{l("MstSleDealerGroupsHeaderInfo")}}
              </span>
          </div>
          <div class="kt-subheader__toolbar">
              <div class="kt-subheader__wrapper">
                  <button (click)="exportToExcel()" class="btn btn-outline-success"><i class="fa fa-file-excel"></i> {{l("ExportToExcel")}}</button>
                  <button *ngIf="isGranted('Pages.Master.Sales.MstSleDealerGroups.Create')" (click)="createMstSleDealerGroups()" 
              class="btn btn-primary blue"><i class="fa fa-plus"></i> {{l("CreateNewMstSleDealerGroups")}}</button>
              </div>
          </div>
        </div>
      </div>
      <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
          <div class="kt-portlet kt-portlet--mobile">
              <div class="kt-portlet__body">
                  <form class="kt-form" autocomplete="off">
                      <div>
                          <div class="row align-items-center">
                              <div class="col-xl-12">
                                  <div class="form-group m-form__group align-items-center">
                                      <div class="input-group">
                                          <input [(ngModel)]="filterText" name="filterText" autoFocus class="form-control m-input" [placeholder]="l('SearchWithThreeDot')" type="text">
                                          <span class="input-group-btn">
                                              <button (click)="getMstSleDealerGroups()" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                          </span>
                                      </div>
                                  </div>
                              </div>
                          </div>
                           <div class="row" [hidden]="!advancedFiltersAreShown">
                               <div class="col-md-12">
                                   <div class="kt-separator kt-separator--border-dashed"></div>
                               </div>
  
  
                              <div class="col-md-3">
                                  <div class="form-group">
                                      <label for="GroupNameFilter">{{l("GroupName")}}</label>
                                      <input type="text" class="form-control" id="GroupNameFilter" name="groupNameFilter" [(ngModel)]="groupNameFilter">
                                  </div>
                              </div>
                              <div class="col-md-3">
                                  <div class="form-group">
                                      <label for="DescriptionFilter">{{l("Description")}}</label>
                                      <input type="text" class="form-control" id="DescriptionFilter" name="descriptionFilter" [(ngModel)]="descriptionFilter">
                                  </div>
                              </div>
                              <div class="col-md-3">
                                  <div class="form-group">
                                      <label for="StatusFilter">{{l("Status")}}</label>
                                      <input type="text" class="form-control" id="StatusFilter" name="statusFilter" [(ngModel)]="statusFilter">
                                  </div>
                              </div>
                              <div class="col-md-3">
                                  <div class="form-group">
                                      <label for="MinOrderingFilter">{{l("MinMax")}} {{l("Ordering")}}</label>
                                      <div class="input-group">
                                          <input type="number" class="form-control" id="MinOrderingFilter" [(ngModel)]="minOrderingFilter" placeholder="{{l('MinValue')}}" name="minOrderingFilter" />
                                          <input type="number" class="form-control" [(ngModel)]="maxOrderingFilter" placeholder="{{l('MaxValue')}}" name="maxOrderingFilter" />
                                      </div>
                                  </div>
                              </div>
  
                          </div>
                          <div class="row mb-2">
                              <div class="col-sm-12">
                                  <span class="clickable-item text-muted" *ngIf="!advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-down"></i> {{l("ShowAdvancedFilters")}}</span>
                                  <span class="clickable-item text-muted" *ngIf="advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-up"></i> {{l("HideAdvancedFilters")}}</span>
                              </div>
                          </div>
                      </div>
                  </form>
  
                  <div class="row align-items-center">
                      <!--<Primeng-Datatable-Start>-->
                      <div class="col-12"
                           [busyIf]="primengTableHelper.isLoading">
                          <p-table #dataTable
                                       (onLazyLoad)="getMstSleDealerGroups($event)"
                                       [value]="primengTableHelper.records"
                                       rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
                                       [paginator]="false"
                                       [lazy]="true"
                                       [scrollable]="true"
                                       ScrollWidth="100%"
                                       [responsive]="primengTableHelper.isResponsive"
                                       [resizableColumns]="primengTableHelper.resizableColumns">
                              <ng-template pTemplate="header">
                                  <tr>
                                      <th style="width: 130px" [hidden]="!isGrantedAny('Pages.Master.Sales.MstSleDealerGroups.Edit', 'Pages.Master.Sales.MstSleDealerGroups.Delete')" pResizableColumn>{{l('Actions')}}</th>
                                      <th style="width: 150px" pSortableColumn="groupName" pResizableColumn>
                                          {{l('GroupName')}}
                                          <p-sortIcon field="mstSleDealerGroups.groupName"></p-sortIcon>
                                      </th>
                                      <th style="width: 150px" pSortableColumn="description" pResizableColumn>
                                          {{l('Description')}}
                                          <p-sortIcon field="mstSleDealerGroups.description"></p-sortIcon>
                                      </th>
                                      <th style="width: 150px" pSortableColumn="status" pResizableColumn>
                                          {{l('Status')}}
                                          <p-sortIcon field="mstSleDealerGroups.status"></p-sortIcon>
                                      </th>
                                      <th style="width: 150px" pSortableColumn="ordering" pResizableColumn>
                                          {{l('Ordering')}}
                                          <p-sortIcon field="mstSleDealerGroups.ordering"></p-sortIcon>
                                      </th>
  
                                  </tr>
                              </ng-template>                           
                              <ng-template pTemplate="body" let-record="$implicit">
                                  <tr>
                                      <td style="width: 130px"
                                          [hidden]="!isGrantedAny('Pages.Master.Sales.MstSleDealerGroups.Edit', 'Pages.Master.Sales.MstSleDealerGroups.Delete')">
                                         <div class="btn-group dropdown" dropdown container="body">
                                              <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                  <i class="fa fa-cog"></i><span class="caret"></span> {{l("Actions")}}
                                              </button>
                                                  <ul class="dropdown-menu"  *dropdownMenu>
                                                  <li>
                                                      <a href="javascript:;"
                                                          (click)="viewMstSleDealerGroupsModal.show(record)">{{l('View')}}</a>
                                                  </li>
                                                  <li>
                                                      <a href="javascript:;" *ngIf="permission.isGranted('Pages.Master.Sales.MstSleDealerGroups.Edit')"
                                                          (click)="createOrEditMstSleDealerGroupsModal.show(record.mstSleDealerGroups.id)">{{l('Edit')}}</a>
                                                  </li>
                                                  <li>
                                                      <a href="javascript:;" *ngIf="permission.isGranted('Pages.Master.Sales.MstSleDealerGroups.Delete')"
                                                          (click)="deleteMstSleDealerGroups(record.mstSleDealerGroups)">{{l('Delete')}}</a>
                                                  </li>
                                              </ul>
                                          </div>
                                      </td>
                                      <td style="width:150px">
                                              <span class="ui-column-title"> {{l('GroupName')}}</span>
                                              {{record.mstSleDealerGroups.groupName}}
                                          </td>
                                      <td style="width:150px">
                                              <span class="ui-column-title"> {{l('Description')}}</span>
                                              {{record.mstSleDealerGroups.description}}
                                          </td>
                                      <td style="width:150px">
                                              <span class="ui-column-title"> {{l('Status')}}</span>
                                              {{record.mstSleDealerGroups.status}}
                                          </td>
                                      <td style="width:150px">
                                              <span class="ui-column-title"> {{l('Ordering')}}</span>
                                              {{record.mstSleDealerGroups.ordering}}
                                          </td>
  
                                  </tr>
                              </ng-template>
                          </p-table>
                          <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                              {{l('NoData')}}
                          </div>
                          <div class="primeng-paging-container">
                              <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                           #paginator
                                           (onPageChange)="getMstSleDealerGroups($event)"
                                           [totalRecords]="primengTableHelper.totalRecordsCount"
                                           [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                              </p-paginator>
                              <span class="total-records-count">
                                  {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                              </span>
                          </div>
                      </div>
                      <!--<Primeng-Datatable-End>-->
                  </div>
              </div>
          </div>
      </div>
  
      <createOrEditMstSleDealerGroupsModal #createOrEditMstSleDealerGroupsModal (modalSave)="getMstSleDealerGroups()"></createOrEditMstSleDealerGroupsModal>
      <viewMstSleDealerGroupsModal #viewMstSleDealerGroupsModal></viewMstSleDealerGroupsModal>
      
    </div>
  </div>
  