<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #supplierForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="supplier.id">{{l("EditSupplier")}}</span>
                        <span *ngIf="!supplier.id">{{l("CreateNewSupplier")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group col-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" for="Supplier_Code">{{l("SupplierCode")}} *</span>
                                </div>
                                <input type="text" id="Supplier_Code" class="form-control"
                                    [(ngModel)]="supplier.supplierCode" name="Supplier_Code" minlength="1" maxlength="25" required />
                            </div>
                        </div>

                        <div class="form-group col-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" for="Supplier_Name">{{l("SupplierName")}} *</span>
                                </div>
                                <input type="text" id="Supplier_Name" class="form-control"
                                [(ngModel)]="supplier.supplierName" name="Supplier_Name" minlength="1" maxlength="255" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" for="Address">{{l("Address")}}</span>
                                </div>
                                <input type="text" id="Address" class="form-control" [(ngModel)]="supplier.address"
                                name="Address" minlength="1" maxlength="25" />
                            </div>
                        </div>

                        <div class="form-group col-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" for="Tel">{{l("Tel")}}</span>
                                </div>
                                <input type="text" id="Tel" class="form-control" [(ngModel)]="supplier.tel" name="Tel"
                                minlength="1" maxlength="25" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" for="Fax">{{l("Fax")}}</span>
                                </div>
                                <input type="text" id="Fax" class="form-control" [(ngModel)]="supplier.fax" name="Fax"
                                minlength="1" maxlength="25" />
                            </div>
                        </div>

                        <div class="form-group col-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" for="LeadTime">{{l("LeadTime")}}</span>
                                </div>
                                <input type="text" id="LeadTime" class="form-control" [(ngModel)]="supplier.leadTime"
                                name="LeadTime" minlength="1" maxlength="25" />
                            </div>
                        </div>

                    </div>

                    <div class="row">

                        <div class="form-group col-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" for="TaxCode">{{l("TaxCode")}} </span>
                                </div>
                                <input type="text" id="TaxCode" class="form-control" [(ngModel)]="supplier.taxcode"
                                name="TaxCode" minlength="1" maxlength="25" />
                            </div>
                        </div>

                        <div class="form-group col-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" for="CountryId">{{l("Country")}} </span>
                                </div>
                                <input type="text" id="CountryId" class="form-control" [(ngModel)]="supplier.countryId"
                                name="CountryId" minlength="1" maxlength="25" />
                            </div>
                        </div>

                    </div>

                    <div class="row">

                        <div class="form-group col-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" for="Email">{{l("Email")}}</span>
                                </div>
                                <input type="text" id="Email" class="form-control" [(ngModel)]="supplier.email" name="Email"
                                minlength="1" maxlength="25" />
                            </div>
                        </div>

                        <div class="form-group col-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" for="AccNo">{{l("AccNo")}} </span>
                                </div>
                                <input type="text" id="AccNo" class="form-control" [(ngModel)]="supplier.accNo" name="AccNo"
                                minlength="1" maxlength="25" />
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="form-group col-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" for="BankId">{{l("BankId")}} </span>
                                </div>
                                <input type="text" id="BankId" class="form-control" [(ngModel)]="supplier.bankId"
                                name="BankId" minlength="1" maxlength="25" />
                            </div>
                        </div>

                        <div class="form-group col-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" for="Pic">{{l("Pic")}}</span>
                                </div>
                                <input type="text" id="Pic" class="form-control" [(ngModel)]="supplier.pic" name="Pic"
                                minlength="1" maxlength="25" />
                            </div>
                        </div>

                    </div>

                    <div class="row">

                        <div class="form-group col-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" for="PicMobi">{{l("PicMobi")}}</span>
                                </div>
                                <input type="text" id="PicMobi" class="form-control" [(ngModel)]="supplier.picMobi"
                                name="PicMobi" minlength="1" maxlength="25" />
                            </div>
                        </div>

                        <div class="form-group col-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" for="PicTel">{{l("PicTel")}}</span>
                                </div>
                                <input type="text" id="PicTel" class="form-control" [(ngModel)]="supplier.picTel"
                                name="PicTel" minlength="1" maxlength="25" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default"
                        (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!supplierForm.form.valid"
                        [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i>
                        <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>