<div [@routerTransition]>
  <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
    <div class="kt-subheader kt-grid__item">
      <div [class]="containerClass">
        <div class="kt-subheader__main">
          <h3 class="kt-subheader__title">
            <span>{{l("Suppliers")}}</span>
          </h3>
          <span class="kt-subheader__separator kt-subheader__separator--v"></span>
          <span class="kt-subheader__desc">
            {{l("SuppliersHeaderInfo")}}
          </span>
        </div>
        <div class="kt-subheader__toolbar">
          <div class="kt-subheader__wrapper">
            <button *ngIf="isGranted('Pages.Master.Services.Supplier.CreateEdit')" (click)="createSupplier()"
              class="btn btn-primary blue"><i class="fa fa-plus"></i> {{l("CreateNewSupplier")}}</button>
          </div>
        </div>
      </div>
    </div>
    <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
      <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__body">
          <form class="kt-form" autocomplete="off">
            <div>
              <div class="row align-items-center">
                <div class="col-xl-12">
                  <div class="form-group m-form__group align-items-center">
                    <div class="input-group">
                      <input [(ngModel)]="filterText" name="filterText" autoFocus class="form-control m-input"
                        [placeholder]="l('SearchWithThreeDot')" type="text">
                      <span class="input-group-btn">
                        <button (click)="getSuppliers()" class="btn btn-primary" type="submit"><i
                            class="flaticon-search-1"></i></button>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>

          <div class="row align-items-center">
            <!--<Primeng-Datatable-Start>-->
            <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
              <p-table #dataTable (onLazyLoad)="getSuppliers($event)" [value]="primengTableHelper.records"
                rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true"
                [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
                [resizableColumns]="primengTableHelper.resizableColumns">
                <ng-template pTemplate="header">
                  <tr>
                    <th style="width: 10%"
                      [hidden]="!isGrantedAny('Pages.Master.Services.Supplier.CreateEdit', 'Pages.Master.Services.Supplier.Delete')">
                      {{l('Actions')}}</th>
                    <th style="width: 12%" pSortableColumn="supplierCode">
                      {{l('SupplierCode')}}
                      <p-sortIcon field="supplier.supplierCode"></p-sortIcon>
                    </th>
                    <th style="width: 12%" pSortableColumn="supplierName">
                      {{l('SupplierName')}}
                      <p-sortIcon field="supplier.supplierName"></p-sortIcon>
                    </th>
                    <th style="width: 12%">
                      {{l('Address')}}
                    </th>
                    <th style="width: 8%">
                      {{l('Tel')}}
                    </th>
                    <th style="width: 8%">
                      {{l('Fax')}}
                    </th>
                    <th style="width: 8%">
                      {{l('LeadTime')}}
                    </th>
                    <th style="width: 8%">
                      {{l('TaxCode')}}
                    </th>
                    <th style="width: 8%">
                      {{l('CountryId')}}
                    </th>
                    <th style="width: 8%">
                      {{l('Email')}}
                    </th>
                    <th style="width: 8%">
                      {{l('AccNo')}}
                    </th>
                    <th style="width: 8%">
                      {{l('BankId')}}
                    </th>
                    <th style="width: 8%">
                      {{l('Pic')}}
                    </th>
                    <th style="width: 8%">
                      {{l('PicMobi')}}
                    </th>
                    <th style="width: 8%">
                      {{l('PicTel')}}
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-record="$implicit">
                  <tr>
                    <td style="width: 10%"
                      [hidden]="!isGrantedAny('Pages.Master.Services.Supplier.CreateEdit', 'Pages.Master.Services.Supplier.Delete')">
                      <div class="btn-group dropdown" dropdown container="body">
                        <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                          <i class="fa fa-cog"></i><span class="caret"></span> {{l("Actions")}}
                        </button>
                        <ul class="dropdown-menu" *dropdownMenu>
                          <li>
                            <a href="javascript:;" (click)="viewModal.show(record)">{{l('View')}}</a>
                          </li>
                          <li>
                            <a href="javascript:;"
                              *ngIf="permission.isGranted('Pages.Master.Services.Supplier.CreateEdit')"
                              (click)="createOrEditModal.show(record.supplier.id)">{{l('Edit')}}</a>
                          </li>
                          <li>
                            <a href="javascript:;" *ngIf="permission.isGranted('Pages.Master.Services.Supplier.Delete')"
                              (click)="deleteSupplier(record.supplier)">{{l('Delete')}}</a>
                          </li>
                          <li>
                            <a href="javascript:;" *ngIf="entityHistoryEnabled"
                              (click)="showHistory(record.supplier)">{{l('History')}}</a>
                          </li>
                        </ul>
                      </div>
                    </td>
                    <td style="width:12%">
                      <span class="ui-column-title"> {{l('SupplierCode')}}</span>
                      {{record.supplier.supplierCode}}
                    </td>
                    <td style="width:12%">
                      <span class="ui-column-title"> {{l('SupplierName')}}</span>
                      {{record.supplier.supplierName}}
                    </td>
                    <td style="width:12%">
                      <span class="ui-column-title"> {{l('Address')}}</span>
                      {{record.supplier.address}}
                    </td>
                    <td style="width:8%">
                      <span class="ui-column-title"> {{l('Tel')}}</span>
                      {{record.supplier.tel}}
                    </td>
                    <td style="width:8%">
                      <span class="ui-column-title"> {{l('Fax')}}</span>
                      {{record.supplier.fax}}
                    </td>
                    <td style="width:8%">
                      <span class="ui-column-title"> {{l('LeadTime')}}</span>
                      {{record.supplier.leadTime}}
                    </td>
                    <td style="width:8%">
                      <span class="ui-column-title"> {{l('TaxCode')}}</span>
                      {{record.supplier.taxcode}}
                    </td>
                    <td style="width: 8%">
                      <span class="ui-column-title"> {{l('CountryId')}}</span>
                      {{record.supplier.countryId}}
                    </td>
                    <td style="width:8%">
                      <span class="ui-column-title"> {{l('Email')}}</span>
                      {{record.supplier.email}}
                    </td>
                    <td style="width:8%">
                      <span class="ui-column-title"> {{l('AccNo')}}</span>
                      {{record.supplier.accNo}}
                    </td>
                    <td style="width:8%">
                      <span class="ui-column-title"> {{l('BankId')}}</span>
                      {{record.supplier.bankId}}
                    </td>
                    <td style="width:8%">
                      <span class="ui-column-title"> {{l('Pic')}}</span>
                      {{record.supplier.pic}}
                    </td>
                    <td style="width:8%">
                      <span class="ui-column-title"> {{l('PicMobi')}}</span>
                      {{record.supplier.picMobi}}
                    </td>
                    <td style="width:8%">
                      <span class="ui-column-title"> {{l('PicTel')}}</span>
                      {{record.supplier.picTel}}
                    </td>

                  </tr>
                </ng-template>
              </p-table>
              <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                {{l('NoData')}}
              </div>
              <div class="primeng-paging-container">
                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                  (onPageChange)="getSuppliers($event)" [totalRecords]="primengTableHelper.totalRecordsCount"
                  [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                </p-paginator>
                <span class="total-records-count">
                  {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                </span>
              </div>
            </div>
            <!--<Primeng-Datatable-End>-->
          </div>
        </div>
      </div>
    </div>

    <createOrEditSupplierModal #createOrEditModal (modalSave)="getSuppliers()"></createOrEditSupplierModal>
    <viewSupplierModal #viewModal></viewSupplierModal>
    <entityTypeHistoryModal #entityTypeHistoryModal></entityTypeHistoryModal>
  </div>
</div>