<div bsModal #viewModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="viewModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{l("Details")}}</span>
                </h4>
                <button type="button" class="close" (click)="close()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-4 mb-3">
                        <h6>{{l("SupplierCode")}} :</h6>
                        {{ item.supplier.supplierCode }}
                    </div>
                    <div class="col-4 mb-3">
                        <h6>{{l("SupplierName")}} :</h6>
                        {{ item.supplier.supplierName }}
                    </div>
                    <div class="col-4 mb-3">
                        <h6>{{l("Address")}} :</h6>
                        {{ item.supplier.address }}
                    </div>
                    <div class="col-4 mb-3">
                        <h6>{{l("Tel")}} :</h6>
                        {{ item.supplier.tel }}
                    </div>
                    <div class="col-4 mb-3">
                        <h6>{{l("Fax")}} :</h6>
                        {{ item.supplier.fax }}
                    </div>
                    <div class="col-4 mb-3">
                        <h6>{{l("LeadTime")}} :</h6>
                        {{ item.supplier.leadTime }}
                    </div>
                    <div class="col-4 mb-3">
                        <h6>{{l("TaxCode")}} :</h6>
                        {{ item.supplier.taxcode }}
                    </div>
                    <div class="col-4 mb-3">
                        <h6>{{l("CountryId")}} :</h6>
                        {{ item.supplier.countryId }}
                    </div>
                    <div class="col-4 mb-3">
                        <h6>{{l("Email")}} :</h6>
                        {{ item.supplier.email }}
                    </div>
                    <div class="col-4 mb-3">
                        <h6>{{l("AccNo")}} :</h6>
                        {{ item.supplier.accNo }}
                    </div>
                    <div class="col-4 mb-3">
                        <h6>{{l("BankId")}} :</h6>
                        {{ item.supplier.bankId }}
                    </div>
                    <div class="col-4 mb-3">
                        <h6>{{l("Pic")}} :</h6>
                        {{ item.supplier.pic }}
                    </div>
                    <div class="col-4 mb-3">
                        <h6>{{l("PicMobi")}} :</h6>
                        {{ item.supplier.picMobi }}
                    </div>
                    <div class="col-4 mb-3">
                        <h6>{{l("PicTel")}} :</h6>
                        {{ item.supplier.picTel }}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="btn btn-primary blue"
                    (click)="close()">{{l("Close")}}</button>
            </div>
        </div>
    </div>

</div>