<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #mstSleColorsForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="mstSleColors.id">{{l("EditMstSleColors")}}</span>
                        <span *ngIf="!mstSleColors.id">{{l("CreateNewMstSleColors")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
							<div class="row">
								<div class="col-md-6 input-group warpper3 parent">
									<label class="input-group-addon labelStl" for="MstSleColors_Code">{{l("Code")}} *</label>
									<input type="text" id="MstSleColors_Code" class="form-input ipStRequire" [(ngModel)]="mstSleColors.code" name="Code"     required/>
								</div>
					
								<div class="col-md-6 input-group warpper3 parent">
									<label class="input-group-addon labelStl" for="MstSleColors_VnName">{{l("VnName")}}</label>
									<input type="text" id="MstSleColors_VnName" class="form-input " [(ngModel)]="mstSleColors.vnName" name="VnName"    />
								</div>
							</div>
							<div class="row">
								<div class="col-md-6 input-group warpper3 parent">
									<label class="input-group-addon labelStl" for="MstSleColors_EnName">{{l("EnName")}}</label>
									<input type="text" id="MstSleColors_EnName" class="form-input " [(ngModel)]="mstSleColors.enName" name="EnName"    />
								</div>
					
								<div class="col-md-6 input-group warpper3 parent">
									<label class="input-group-addon labelStl" for="MstSleColors_Description">{{l("Description")}}</label>
									<input type="text" id="MstSleColors_Description" class="form-input " [(ngModel)]="mstSleColors.description" name="Description"    />
								</div>
								
							</div>
							<div class="row">
								<div class="col-md-6 input-group warpper3 parent">
									<label class="input-group-addon labelStl" for="MstSleColors_Status">{{l("Status")}}</label>
									<input type="text" id="MstSleColors_Status" class="form-input " [(ngModel)]="mstSleColors.status" name="Status"    />
								</div>
					
								<div class="col-md-6 input-group warpper3 parent">
									<label class="input-group-addon labelStl" for="MstSleColors_Ordering">{{l("Ordering")}}</label>
									<input type="number" id="MstSleColors_Ordering" class="form-input " [(ngModel)]="mstSleColors.ordering" name="Ordering"  />
								</div>
							</div>		

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!mstSleColorsForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>