<div [@routerTransition]>
  <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
    <div class="kt-subheader kt-grid__item">
      <div [class]="containerClass">
        <div class="kt-subheader__main">
          <h3 class="kt-subheader__title">
            <span>{{l("Division")}}</span>
          </h3>
          <span class="kt-subheader__separator kt-subheader__separator--v"></span>
          <span class="kt-subheader__desc">
            {{l("DivisionHeaderInfo")}}
          </span>
        </div>
      </div>
    </div>
    <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
      <div class="kt-portlet__body row">
        <div class="kt-portlet kt-portlet--mobile col-4 pt-2">
            <h5>{{l("DivList")}}</h5>
          <p-tree selectionMode="single" (onNodeSelect)="onNodeSelect($event)" [value]="divisions"
            [(selection)]="division" [style]="{'height':'250px','overflow':'auto'}">
          </p-tree>
          <div class="text-right pr-3 mt-5">
            <button [disabled]="!division" (click)="addNew()" class="btn btn-primary blue"><i class="fa fa-plus"></i>
              <span>{{l("AddNew")}}</span></button>
          </div>
        </div>
        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid col-8'">
          <div class="kt-portlet kt-portlet--mobile pt-2">
              <h5>{{l("Details")}}</h5>
            <div class="kt-portlet__body">
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" for="DivCode">{{l("DivCode")}} *</span>
                  </div>
                  <input type="text" id="DivCode" class="form-control" [(ngModel)]="division.divCode" name="DivCode"
                    minlength="1" maxlength="25" required />
                </div>
              </div>

              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" for="DivName">{{l("DivName")}} *</span>
                  </div>
                  <input type="text" id="DivName" class="form-control" [(ngModel)]="division.divName" name="DivName"
                    minlength="1" maxlength="25" required />
                </div>
              </div>

              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" for="Description">{{l("Description")}}</span>
                  </div>
                  <textarea type="text" id="Description" class="form-control" [(ngModel)]="division.des"
                    name="Description" minlength="1" maxlength="25"></textarea>
                </div>
              </div>

              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" for="parentDivName">{{l("ParentDiv")}}</span>
                  </div>
                  <input class="form-control" [(ngModel)]="division.parentDivName" [ngModelOptions]="{standalone: true}"
                    (click)="selectParentDiv(division.id)" />
                </div>
              </div>
              <div class="text-right">
                <button [disabled]="!division.divCode" class="btn btn-default"
                  (click)="delete(division.id)">{{l("Delete")}}</button>
                <button (click)="save()" class="btn btn-primary blue" [disabled]="!division.divCode"><i
                    class="fa fa-save"></i>
                  <span>{{l("Save")}}</span></button>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<selectParentDivModal #selectModal (modalSave)="getDivList()"></selectParentDivModal>
<div>

</div>