<div bsModal #selectModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="selectModal"
  aria-hidden="true" [config]="{backdrop: 'static'}">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          <span>{{l("DivList")}}</span>
        </h4>
        <button type="button" (click)="close()" class="close text-right" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row align-items-center">
          <!--<Primeng-Datatable-Start>-->
          <div class="primeng-datatable-container col-12">
            <p-table [value]="divisions" selectionMode="single" [(selection)]="selectedDivs" [scrollable]="true"
              scrollHeight="300px">
              <ng-template pTemplate="header">
                <tr>
                  <th field="divCode" class="text-center" style="width: 50%">
                    {{l('DivCode')}}
                  </th>
                  <th class="text-center" style="width: 50%">
                    {{l('DivName')}}
                  </th>

                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-record="$implicit">
                <tr [pSelectableRow]="record">
                  <td style="width: 50%">
                    {{record.divCode}}
                  </td>
                  <td style="width:50%">
                    {{record.divName}}
                  </td>
                </tr>
              </ng-template>
            </p-table>
            <div class="primeng-no-data" *ngIf="divisions && divisions.length === 0">
              {{l('NoData')}}
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="delete(division.id)">{{l("Delete")}}</button>
        <button (click)="save()" class="btn btn-primary blue" [disabled]="!selectedDivs"><i class="fa fa-save"></i>
          <span>{{l("Save")}}</span></button>
      </div>
    </div>
  </div>