<div [@routerTransition]>
  <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
    <!-- <div class="kt-subheader kt-grid__item">
      <div [class]="containerClass">
        <div class="kt-subheader__main">
          <h3 class="kt-subheader__title">
            <span>{{l("Employee")}}</span>
          </h3>
          <span class="kt-subheader__separator kt-subheader__separator--v"></span>
          <span class="kt-subheader__desc">
            {{l("EmployeeHeaderInfo")}}
          </span>
        </div>
      </div>
    </div> -->
    <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
      <div class="kt-portlet__body row">
        <div class="kt-portlet kt-portlet--mobile col-4 pt-2">
          <h5>{{l("DivList")}}</h5>
          <p-tree [value]="divs" selectionMode="single" (onNodeSelect)="onNodeSelect($event)" [(selection)]="division"
            [style]="{'max-height':'250px','overflow':'auto'}">
          </p-tree>
        </div>
        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid col-8'">
          <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">
              <form class="kt-form" autocomplete="off">
                <div>
                  <div class="row" [hidden]="!advancedFiltersAreShown">
                    <div class="col-md-12">
                      <div class="kt-separator kt-separator--border-dashed"></div>
                    </div>

                    <div class="col-md-3">
                      <div class="form-group">
                        <label for="empCode">{{l("EmpCode")}}</label>
                        <input type="text" class="form-control" id="empCode" name="empCode" [(ngModel)]="empCode">
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label for="EmpName">{{l("EmpName")}}</label>
                        <input type="text" class="form-control" id="EmpName" name="EmpName" [(ngModel)]="empName">
                      </div>
                    </div>

                  </div>
                  <div class="row mb-2">
                    <div class="col-sm-12">
                      <span class="clickable-item text-muted" *ngIf="!advancedFiltersAreShown"
                        (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-down"></i>
                        {{l("ShowAdvancedFilters")}}</span>
                      <span class="clickable-item text-muted" *ngIf="advancedFiltersAreShown"
                        (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-up"></i>
                        {{l("HideAdvancedFilters")}}</span>
                    </div>
                  </div>
                </div>
              </form>

              <div class="row align-items-center">
                <h5>{{l("EmployeesOfDiv")}}</h5>
                <!--<Primeng-Datatable-Start>-->
                <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                  <p-table style="max-height: 300px;" #dataTable (onLazyLoad)="getEmployeesByDiv($event)" [value]="primengTableHelper.records"
                    rows="5" [paginator]="false" [lazy]="true" [scrollable]="true"
                    [responsive]="primengTableHelper.isResponsive"
                    [resizableColumns]="primengTableHelper.resizableColumns" style="line-height: 10px;">
                    <ng-template pTemplate="header">
                      <tr>
                        <th class="text-center" style="width:50%">
                          {{l('EmpCode')}}
                        </th>
                        <th class="text-center" style="width:50%">
                          {{l('EmpName')}}
                        </th>

                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-record="$implicit">
                      <tr>
                        <td style="width:50%">
                          <span class="ui-column-title"> {{l('EmpCode')}}</span>
                          {{record.employee.empCode}}
                        </td>
                        <td style="width:50%">
                          <span class="ui-column-title"> {{l('EmpName')}}</span>
                          {{record.employee.empName}}
                        </td>

                      </tr>
                    </ng-template>
                  </p-table>
                  <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                    {{l('NoData')}}
                  </div>
                  <div class="primeng-paging-container">
                    <p-paginator [rows]="5" #paginator (onPageChange)="getEmployeesByDiv($event)"
                      [totalRecords]="primengTableHelper.totalRecordsCount"
                      [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                    </p-paginator>
                    <span class="total-records-count">
                      {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                    </span>
                  </div>
                </div>
                <!--<Primeng-Datatable-End>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
  <div class="kt-portlet kt-portlet--mobile pl-2 pt-2">
    <h5>{{l("EmployeeDetails")}}</h5>
    <div class="kt-portlet__body">

      <div class="row">
        <div class="col-10">
          <div class="row">
            <div class="form-group col-5">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" for="EmpCode">{{l("EmpCode")}} *</span>
                </div>
                <input type="text" id="EmpCode" class="form-control" [(ngModel)]="employee.empCode" name="EmpCode"
                  minlength="1" maxlength="25" required />
              </div>
            </div>

            <div class="form-group col-5">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" for="EmpName">{{l("EmpName")}} *</span>
                </div>
                <input type="text" id="EmpName" class="form-control" [(ngModel)]="employee.empName" name="EmpName"
                  minlength="1" maxlength="25" required />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-5">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" for="Sex">{{l("Sex")}}</span>
                </div>
                <select class="form-control" [(ngModel)]="employee.sex" [ngModelOptions]="{standalone: true}">

                  <option [value]="sex.id" *ngFor="let sex of sexList">
                    {{ sex.value }}
                  </option>
                </select>
              </div>
            </div>

            <div class="form-group col-5">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" for="Tel">{{l("Tel")}}</span>
                </div>
                <input type="text" id="Tel" class="form-control" [(ngModel)]="employee.tel" name="Tel" minlength="1"
                  maxlength="25" />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-5">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" for="Birthday">{{l("Birthday")}}</span>
                </div>
                <input type="text" class="form-control" [(ngModel)]="employee.birthday" #datepicker="bsDatepicker"
                  bsDatepicker [outsideClick]="true">
              </div>
            </div>

            <div class="form-group col-5">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" for="EmpType">{{l("EmpType")}}</span>
                </div>
                <input type="text" id="EmpType" class="form-control" [(ngModel)]="employee.typeId" name="EmpType"
                  minlength="1" maxlength="25" />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-5">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" for="TitleId">{{l("Title")}}</span>
                </div>
                <select class="form-control" [(ngModel)]="employee.titleId" [ngModelOptions]="{standalone: true}">

                  <option [value]="title.id" *ngFor="let title of titles">
                    {{ title.titleCode }} - {{ title.titleName }}
                  </option>
                </select>
              </div>
            </div>

            <div class="form-group col-5">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" for="EmpAddress">{{l("EmpAddress")}}</span>
                </div>
                <input type="text" id="EmpAddress" class="form-control" [(ngModel)]="employee.empAddress"
                  name="EmpAddress" minlength="1" maxlength="25" />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-5">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" for="Email">{{l("Email")}}</span>
                </div>
                <input type="text" id="Email" class="form-control" [(ngModel)]="employee.email" name="Email"
                  minlength="1" maxlength="25" />
              </div>
            </div>

            <div class="form-group col-5">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" for="EmpColor">{{l("EmpColor")}}</span>
                </div>
                <input type="text" id="EmpColor" class="form-control" [(ngModel)]="employee.empColor"
                  name="TitleEmpColorId" minlength="1" maxlength="25" />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-5">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" for="StartDate">{{l("StartDate")}}</span>
                </div>
                <input type="text" class="form-control" [(ngModel)]="employee.startDate" #datepicker="bsDatepicker"
                  bsDatepicker [outsideClick]="true">
              </div>
            </div>

            <div class="form-group col-5">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" for="DivId">{{l("Division")}}</span>
                </div>
                <select class="form-control" [(ngModel)]="employee.divId" [ngModelOptions]="{standalone: true}">

                  <option [value]="div['id']" *ngFor="let div of divList">
                    {{ div['divCode'] }} - {{ div['divName'] }}
                  </option>
                </select>
              </div>
            </div>
          </div>


        </div>
        <div class="col-2">
          <button class="btn btn-primary blue text-center"><i class="fa fa-save"></i>
            <span>{{l("ChooseImage")}}</span>
          </button>
        </div>
      </div>

      <div class="text-right">
        <button class="btn btn-default">{{l("Delete")}}</button>
        <button class="btn btn-primary blue"><i class="fa fa-save"></i>
          <span>{{l("Save")}}</span></button>
      </div>
    </div>
  </div>

</div>