<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #orderMethodForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="orderMethod.id">{{l("EditOrderMethod")}}</span>
                        <span *ngIf="!orderMethod.id">{{l("CreateNewOrderMethod")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="OrderMethod_Code">{{l("Code")}} *</label>
                        <input type="text" id="OrderMethod_Code" class="form-control" [(ngModel)]="orderMethod.code" name="Code"
                            minlength="1" maxlength="25" required />
                    </div>

                    <div class="form-group">
                        <label for="OrderMethod_Name">{{l("Name")}}</label>
                        <input type="text" id="OrderMethod_Code" class="form-control" [(ngModel)]="orderMethod.name"
                            name="Name" minlength="1" maxlength="255" />
                    </div>


                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default"
                        (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!orderMethodForm.form.valid"
                        [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i>
                        <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>