<div [@routerTransition]>
  <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
    <div class="kt-subheader kt-grid__item">
      <div [class]="containerClass">
        <div class="kt-subheader__main">
          <h3 class="kt-subheader__title">
            <span>{{l("OrderMethods")}}</span>
          </h3>
          <span class="kt-subheader__separator kt-subheader__separator--v"></span>
          <span class="kt-subheader__desc">
            {{l("OrderMethodsHeaderInfo")}}
          </span>
        </div>
        <div class="kt-subheader__toolbar">
          <div class="kt-subheader__wrapper">
            <button (click)="exportToExcel()" class="btn btn-outline-success"><i class="fa fa-file-excel"></i>
              {{l("ExportToExcel")}}</button>
            <button *ngIf="isGranted('Pages.OrderMethods.Create')" (click)="createOrderMethod()" class="btn btn-primary blue"><i
                    class="fa fa-plus"></i> {{l("CreateNewOrderMethod")}}</button>
          </div>
        </div>
      </div>
    </div>
    <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
      <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__body">
          <form class="kt-form" autocomplete="off">
            <div>
              <div class="row align-items-center">
                <div class="col-xl-12">
                  <div class="form-group m-form__group align-items-center">
                    <div class="input-group">
                      <input [(ngModel)]="filterText" name="filterText" autoFocus class="form-control m-input"
                        [placeholder]="l('SearchWithThreeDot')" type="text">
                      <span class="input-group-btn">
                        <button (click)="getOrderMethods()" class="btn btn-primary" type="submit"><i
                            class="flaticon-search-1"></i></button>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" [hidden]="!advancedFiltersAreShown">
                <div class="col-md-12">
                  <div class="kt-separator kt-separator--border-dashed"></div>
                </div>


                <div class="col-md-3">
                  <div class="form-group">
                    <label for="CodeFilter">{{l("Code")}}</label>
                    <input type="text" class="form-control" id="CodeFilter" name="codeFilter" [(ngModel)]="codeFilter">
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="NameFilter">{{l("Name")}}</label>
                    <input type="text" class="form-control" id="NameFilter" name="nameFilter"
                      [(ngModel)]="nameFilter">
                  </div>
                </div>

              </div>
              <div class="row mb-2">
                <div class="col-sm-12">
                  <span class="clickable-item text-muted" *ngIf="!advancedFiltersAreShown"
                    (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-down"></i>
                    {{l("ShowAdvancedFilters")}}</span>
                  <span class="clickable-item text-muted" *ngIf="advancedFiltersAreShown"
                    (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-up"></i>
                    {{l("HideAdvancedFilters")}}</span>
                </div>
              </div>
            </div>
          </form>

          <div class="row align-items-center">
            <!--<Primeng-Datatable-Start>-->
            <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
              <p-table #dataTable (onLazyLoad)="getOrderMethods($event)" [value]="primengTableHelper.records"
                rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true"
                [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
                [resizableColumns]="primengTableHelper.resizableColumns">
                <ng-template pTemplate="header">
                  <tr>
                    <th style="width: 130px" [hidden]="!isGrantedAny('Pages.OrderMethods.Edit', 'Pages.OrderMethods.Delete')">
                      {{l('Actions')}}</th>
                    <th style="width: 150px" pSortableColumn="code">
                      {{l('Code')}}
                      <p-sortIcon field="orderMethod.code"></p-sortIcon>
                    </th>
                    <th style="width: 150px" pSortableColumn="name">
                      {{l('Name')}}
                      <p-sortIcon field="orderMethod.name"></p-sortIcon>
                    </th>

                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-record="$implicit">
                  <tr>
                    <td style="width: 130px" [hidden]="!isGrantedAny('Pages.OrderMethods.Edit', 'Pages.OrderMethods.Delete')">
                      <div class="btn-group dropdown" dropdown container="body">
                        <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                          <i class="fa fa-cog"></i><span class="caret"></span> {{l("Actions")}}
                        </button>
                        <ul class="dropdown-menu" *dropdownMenu>
                          <li>
                            <a href="javascript:;" (click)="viewOrderMethodModal.show(record)">{{l('View')}}</a>
                          </li>
                          <li>
                            <a href="javascript:;" *ngIf="permission.isGranted('Pages.OrderMethods.Edit')" (click)="createOrEditOrderMethodModal.show(record.orderMethod.id)">{{l('Edit')}}</a>
                          </li>
                          <li>
                            <a href="javascript:;" *ngIf="permission.isGranted('Pages.OrderMethods.Delete')" (click)="deleteOrderMethod(record.orderMethod)">{{l('Delete')}}</a>
                          </li>
                          <li>
                            <a href="javascript:;" *ngIf="entityHistoryEnabled"
                              (click)="showHistory(record.orderMethod)">{{l('History')}}</a>
                          </li>
                        </ul>
                      </div>
                    </td>
                    <td style="width:150px">
                      <span class="ui-column-title"> {{l('Code')}}</span>
                      {{record.orderMethod.code}}
                    </td>
                    <td style="width:150px">
                      <span class="ui-column-title"> {{l('Name')}}</span>
                      {{record.orderMethod.name}}
                    </td>

                  </tr>
                </ng-template>
              </p-table>
              <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                {{l('NoData')}}
              </div>
              <div class="primeng-paging-container">
                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                  (onPageChange)="getOrderMethods($event)" [totalRecords]="primengTableHelper.totalRecordsCount"
                  [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                </p-paginator>
                <span class="total-records-count">
                  {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                </span>
              </div>
            </div>
            <!--<Primeng-Datatable-End>-->
          </div>
        </div>
      </div>
    </div>

    <createOrEditOrderMethodModal #createOrEditOrderMethodModal (modalSave)="getOrderMethods()"></createOrEditOrderMethodModal>
    <viewOrderMethodModal #viewOrderMethodModal></viewOrderMethodModal>
    <entityTypeHistoryModal #entityTypeHistoryModal></entityTypeHistoryModal>
  </div>
</div>