<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #partsTypeForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="partsType.id">{{l("EditPartsType")}}</span>
                        <span *ngIf="!partsType.id">{{l("CreateNewPartsType")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="GTypeCode">{{l("GTypeCode")}}</label>
                        <input type="text" id="GTypeCode" class="form-control" [(ngModel)]="partsType.gTypeCode" name="GTypeCode"
                            minlength="1" maxlength="25" required />
                    </div>

                    <div class="form-group">
                        <label for="GTypeName">{{l("GTypeName")}}</label>
                        <input type="text" id="GTypeName" class="form-control" [(ngModel)]="partsType.gTypeName"
                            name="GTypeName" minlength="1" maxlength="255"  required/>
                    </div>
                    
                    <div class="form-group">
                        <label for="Remark">{{l("Note")}}</label>
                        <input type="text" id="Remark" class="form-control" [(ngModel)]="partsType.remark" name="Remark"
                            minlength="1" maxlength="25" />
                    </div>
                    
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default"
                        (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!partsTypeForm.form.valid"
                        [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i>
                        <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>