<div [@routerTransition]>
  <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
    <div class="kt-subheader kt-grid__item">
      <div [class]="containerClass">
        <div class="kt-subheader__main">
          <h3 class="kt-subheader__title">
            <span>{{l("PartsTypeCategories")}}</span>
          </h3>
          <span class="kt-subheader__separator kt-subheader__separator--v"></span>
          <span class="kt-subheader__desc">
            {{l("PartsTypeHeaderInfo")}}
          </span>
        </div>
        <div class="kt-subheader__toolbar">
          <div class="kt-subheader__wrapper">
            <button *ngIf="isGranted('Pages.Master.ServicesPart.PartsType.CreateEdit')" (click)="createPartsType()" class="btn btn-primary blue"><i
                    class="fa fa-plus"></i> {{l("CreateNewPartsType")}}</button>
          </div>
        </div>
      </div>
    </div>
    <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
      <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__body">
          <form class="kt-form" autocomplete="off">
            <div>
              <div class="row align-items-center">
                <div class="col-xl-12">
                  <div class="form-group m-form__group align-items-center">
                    <div class="input-group">
                      <input [(ngModel)]="filterText" name="filterText" autoFocus class="form-control m-input"
                        [placeholder]="l('SearchWithThreeDot')" type="text">
                      <span class="input-group-btn">
                        <button (click)="getPartsType()" class="btn btn-primary" type="submit"><i
                            class="flaticon-search-1"></i></button>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>

          <div class="row align-items-center">
            <!--<Primeng-Datatable-Start>-->
            <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
              <p-table #dataTable (onLazyLoad)="getPartsType($event)" [value]="primengTableHelper.records"
                rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true"
                [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
                [resizableColumns]="primengTableHelper.resizableColumns">
                <ng-template pTemplate="header">
                  <tr>
                    <th style="width: 130px" [hidden]="!isGrantedAny('Pages.Master.ServicesPart.PartsType.CreateEdit', 'Pages.Master.ServicesPart.PartsType.Delete')">
                      {{l('Actions')}}</th>
                    <th style="width: 150px" pSortableColumn="bankCode">
                      {{l('GTypeCode')}}
                      <p-sortIcon field="partsType.gTypeCode"></p-sortIcon>
                    </th>
                    <th style="width: 150px" pSortableColumn="bankCode">
                      {{l('GTypeName')}}
                      <p-sortIcon field="partsType.gTypeName"></p-sortIcon>
                    </th>
                    <th style="width: 150px" pSortableColumn="bankCode">
                      {{l('Note')}}
                      <p-sortIcon field="partsType.remark"></p-sortIcon>
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-record="$implicit">
                  <tr>
                    <td style="width: 130px" [hidden]="!isGrantedAny('Pages.Master.ServicesPart.PartsType.CreateEdit', 'Pages.Master.ServicesPart.PartsType.Delete')">
                      <div class="btn-group dropdown" dropdown container="body">
                        <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                          <i class="fa fa-cog"></i><span class="caret"></span> {{l("Actions")}}
                        </button>
                        <ul class="dropdown-menu" *dropdownMenu>
                          <li>
                            <a href="javascript:;" (click)="viewModal.show(record)">{{l('View')}}</a>
                          </li>
                          <li>
                            <a href="javascript:;" *ngIf="permission.isGranted('Pages.Master.ServicesPart.PartsType.CreateEdit')" (click)="createOrEditModal.show(record.partsType.id)">{{l('Edit')}}</a>
                          </li>
                          <li>
                            <a href="javascript:;" *ngIf="permission.isGranted('Pages.Master.ServicesPart.PartsType.CreateEdit')" (click)="deletePartsType(record.partsType)">{{l('Delete')}}</a>
                          </li>
                          <li>
                            <a href="javascript:;" *ngIf="entityHistoryEnabled"
                              (click)="showHistory(record.partsType)">{{l('History')}}</a>
                          </li>
                        </ul>
                      </div>
                    </td>
                    <td style="width:150px">
                      <span class="ui-column-title"> {{l('GTypeCode')}}</span>
                      {{record.partsType.gTypeCode}}
                    </td>
                    <td style="width:150px">
                      <span class="ui-column-title"> {{l('GTypeName')}}</span>
                      {{record.partsType.gTypeName}}
                    </td>
                    <td style="width:150px">
                      <span class="ui-column-title"> {{l('Note')}}</span>
                      {{record.partsType.remark}}
                    </td>
                  </tr>
                </ng-template>
              </p-table>
              <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                {{l('NoData')}}
              </div>
              <div class="primeng-paging-container">
                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                  (onPageChange)="getPartsType($event)" [totalRecords]="primengTableHelper.totalRecordsCount"
                  [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                </p-paginator>
                <span class="total-records-count">
                  {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                </span>
              </div>
            </div>
            <!--<Primeng-Datatable-End>-->
          </div>
        </div>
      </div>
    </div>

    <createOrEditPartsTypeModal #createOrEditModal (modalSave)="getPartsType()"></createOrEditPartsTypeModal>
    <viewPartsTypeModal #viewModal></viewPartsTypeModal>
    <entityTypeHistoryModal #entityTypeHistoryModal></entityTypeHistoryModal>
  </div>
</div>