<div
    bsModal
    #createOrEditModal="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="createOrEditModal"
    aria-hidden="true"
    [config]="{ backdrop: 'static' }"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form
                *ngIf="active"
                #mstSleModelsForm="ngForm"
                novalidate
                (ngSubmit)="save()"
                autocomplete="off"
            >
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="mstSleModels.id">{{
                            l("EditMstSleModels")
                        }}</span>
                        <span *ngIf="!mstSleModels.id">{{
                            l("CreateNewMstSleModels")
                        }}</span>
                    </h4>
                    <button
                        type="button"
                        class="close"
                        (click)="close()"
                        aria-label="Close"
                        [disabled]="saving"
                    >
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6 input-group warpper3 parent">
                            <label
                                class="input-group-addon labelStl"
                                for="MstSleModels_ProductionCode"
                                >{{ l("ProductionCode") }} *</label
                            >
                            <input
                                type="text"
                                id="MstSleModels_ProductionCode"
                                class="form-input ipStRequire"
                                [(ngModel)]="mstSleModels.productionCode"
                                name="Production Code"
                                required
                            />
                        </div>

                        <div class="col-md-6 input-group warpper3 parent">
                            <label
                                class="input-group-addon labelStl"
                                for="MstSleModels_MarketingCode"
                                >{{ l("MarketingCode") }} *</label
                            >
                            <input
                                type="text"
                                id="MstSleModels_MarketingCode"
                                class="form-input ipStRequire"
                                [(ngModel)]="mstSleModels.marketingCode"
                                name="Marketing Code"
                                required
                            />
                        </div>

                        <div class="col-md-6 input-group warpper3 parent">
                            <label
                                class="input-group-addon labelStl"
                                for="MstSleModel_VnName"
                                >{{ l("VnName") }}</label
                            >
                            <input
                                type="text"
                                id="MstSleModel_VnName"
                                class="form-input"
                                [(ngModel)]="mstSleModels.vnName"
                                name="VnName"
                            />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 input-group warpper3 parent">
                            <label
                                class="input-group-addon labelStl"
                                for="MstSleModel_EnName"
                                >{{ l("EnName") }}</label
                            >
                            <input
                                type="text"
                                id="MstSleModel_EnName"
                                class="form-input"
                                [(ngModel)]="mstSleModels.enName"
                                name="EnName"
                            />
                        </div>

                        <div class="col-md-6 input-group warpper3 parent">
                            <label
                                class="input-group-addon labelStl"
                                for="MstSleModels_Description"
                                >{{ l("Description") }}</label
                            >
                            <input
                                type="text"
                                id="MstSleModels_Description"
                                class="form-input"
                                [(ngModel)]="mstSleModels.description"
                                name="Description"
                            />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 input-group warpper3 parent">
                            <label
                                class="input-group-addon labelStl"
                                for="MstSleModels_Status"
                                >{{ l("Status") }}</label
                            >
                            <input
                                type="text"
                                id="MstSleModels_Status"
                                class="form-input"
                                [(ngModel)]="mstSleModels.status"
                                name="Status"
                            />
                        </div>

                        <div class="col-md-6 input-group warpper3 parent">
                            <label
                                class="input-group-addon labelStl"
                                for="MstSleModels_Ordering"
                                >{{ l("Ordering") }}</label
                            >
                            <input
                                type="number"
                                id="MstSleModels_Ordering"
                                class="form-input"
                                [(ngModel)]="mstSleModels.ordering"
                                name="Ordering"
                            />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button
                        [disabled]="saving"
                        type="button"
                        class="btn btn-default"
                        (click)="close()"
                    >
                        {{ l("Cancel") }}
                    </button>
                    <button
                        type="submit"
                        class="btn btn-primary blue"
                        [disabled]="!mstSleModelsForm.form.valid"
                        [buttonBusy]="saving"
                        [busyText]="l('SavingWithThreeDot')"
                    >
                        <i class="fa fa-save"></i> <span>{{ l("Save") }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
