<div
    bsModal
    #createOrEditModal="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="createOrEditModal"
    aria-hidden="true"
    [config]="{ backdrop: 'static' }"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form
                *ngIf="active"
                #mstGenDealersForm="ngForm"
                novalidate
                (ngSubmit)="save()"
                autocomplete="off"
            >
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="mstGenDealers.id">{{
                            l("EditMstGenDealers")
                        }}</span>
                        <span *ngIf="!mstGenDealers.id">{{
                            l("CreateNewMstGenDealers")
                        }}</span>
                    </h4>
                    <button
                        type="button"
                        class="close"
                        (click)="close()"
                        aria-label="Close"
                        [disabled]="saving"
                    >
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4  input-group warpper3 parent">
                            <label class="input-group-addon labelStl"  for="MstGenDealers_Code">{{
                                l("Code")
                            }}</label>
                            <input
                                type="text"
                                id="MstGenDealers_Code"
                                class="form-input ipStRequire"
                                [(ngModel)]="mstGenDealers.code"
								name="Code"
								required
                            />
                        </div>
                        <div class="col-md-4  input-group warpper3 parent">
                            <label class="input-group-addon labelStl"  for="MstGenDealers_Abbreviation">{{
                                l("Abbreviation")
                            }}</label>
                            <input
                                type="text"
                                id="MstGenDealers_Abbreviation"
                                class="form-input ipStRequire"
                                [(ngModel)]="mstGenDealers.abbreviation"
								name="Abbreviation"
								required
                            />
                        </div>
                        <div class="col-md-4  input-group warpper3 parent">
                            <label class="input-group-addon labelStl"  for="MstGenDealers_IsDlrSales">{{
                                l("Group Dlr")
                            }}</label>
                            <input
                                type="text"
                                id="MstGenDealers_IsDlrSales"
                                class="form-input"
                                [(ngModel)]="mstGenDealers.isDlrSales"
                                name="IsDlrSales"
                            />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4  input-group warpper3 parent">
                            <label class="input-group-addon labelStl"  for="MstGenDealers_Status">{{ l("DLR Parent") }}</label>
                            <input
                                type="text"
                                id=""
                                class="form-input"
                                [(ngModel)]="DlrPrarent"
                                name=""
                            />
                        </div>
                        <div class="col-md-4  input-group warpper3 parent">
                            <label class="input-group-addon labelStl"  for="MstGenDealers_Status">{{
                                l("Status")
                            }}</label>
                            <input
                                type="text"
                                id="MstGenDealers_Status"
                                class="form-input"
                                [(ngModel)]="mstGenDealers.status"
                                name="Status"
                            />
                        </div>
                        <div class="col-md-4  input-group warpper3 parent">
                            <label class="input-group-addon labelStl"  for="MstGenDealers_Status">{{ l("Dealer Type") }}</label>
                            <input
                                type="text"
                                id=""
                                class="form-input ipStRequire"
                                [(ngModel)]="DlrType"
								name=""
								required
                            />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4  input-group warpper3 parent">
                            <label class="input-group-addon labelStl"  for="MstGenDealers_VnName">{{
                                l("VnName")
                            }}</label>
                            <input
                                type="text"
                                id="MstGenDealers_VnName"
                                class="form-input ipStRequire"
                                [(ngModel)]="mstGenDealers.vnName"
								name="VnName"
								required
                            />
                        </div>

                        <div class="col-md-4  input-group warpper3 parent">
                            <label class="input-group-addon labelStl"  for="MstGenDealers_EnName">{{
                                l("EnName")
                            }}</label>
                            <input
                                type="text"
                                id="MstGenDealers_EnName"
                                class="form-input"
                                [(ngModel)]="mstGenDealers.enName"
                                name="EnName"
                            />
                        </div>

                        <div class="col-md-4  input-group warpper3 parent">
                            <label class="input-group-addon labelStl"  for="MstGenDealers_Islexus">{{
                                l("Islexus")
                            }}</label>
                            <input
                                type="text"
                                id="MstGenDealers_Islexus"
                                class="form-input"
                                [(ngModel)]="mstGenDealers.islexus"
                                name="Islexus"
                            />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4  input-group warpper3 parent">
                            <label class="input-group-addon labelStl"  for="MstGenDealers_TaxCode">{{
                                l("TaxCode")
                            }}</label>
                            <input
                                type="text"
                                id="MstGenDealers_TaxCode"
                                class="form-input"
                                [(ngModel)]="mstGenDealers.taxCode"
                                name="TaxCode"
                            />
                        </div>

                        <div class="col-md-4  input-group warpper3 parent">
                            <label class="input-group-addon labelStl"  for="MstGenDealers_AccountNo">{{
                                l("AccountNo")
                            }}</label>
                            <input
                                type="text"
                                id="MstGenDealers_AccountNo"
                                class="form-input"
                                [(ngModel)]="mstGenDealers.accountNo"
                                name="AccountNo"
                            />
                        </div>
                        <div class="col-md-4  input-group warpper3 parent">
                            <label class="input-group-addon labelStl"  for="MstGenDealers_Ordering">{{
                                l("Ordering")
                            }}</label>
                            <input
                                type="text"
                                id="MstGenDealers_Ordering"
                                class="form-input"
                                [(ngModel)]="mstGenDealers.ordering"
                                name="Ordering"
                            />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4  input-group warpper3 parent">
                            <label class="input-group-addon labelStl"  for="MstGenDealers_ContactPerson">{{
                                l("ContactPerson")
                            }}</label>
                            <input
                                type="text"
                                id="MstGenDealers_ContactPerson"
                                class="form-input"
                                [(ngModel)]="mstGenDealers.contactPerson"
                                name="ContactPerson"
                            />
                        </div>
                        <div class="col-md-4  input-group warpper3 parent">
                            <label class="input-group-addon labelStl"  for="MstGenDealers_Phone">{{
                                l("Phone")
                            }}</label>
                            <input
                                type="text"
                                id="MstGenDealers_Phone"
                                class="form-input"
                                [(ngModel)]="mstGenDealers.phone"
                                name="Phone"
                            />
                        </div>
                        <div class="col-md-4  input-group warpper3 parent">
                            <label class="input-group-addon labelStl"  for="MstGenDealers_Fax">{{
                                l("Fax")
                            }}</label>
                            <input
                                type="text"
                                id="MstGenDealers_Fax"
                                class="form-input"
                                [(ngModel)]="mstGenDealers.fax"
                                name="Fax"
                            />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8  input-group warpper3 parent">
                            <label class="input-group-addon labelStl"  for="MstGenDealers_Address">{{
                                l("Address")
                            }}</label>
                            <input
                                type="text"
                                id="MstGenDealers_Address"
                                class="form-input"
                                [(ngModel)]="mstGenDealers.address"
                                name="Address"
                            />
                        </div>
                        <div class="col-md-4  input-group warpper3 parent">
                            <label class="input-group-addon labelStl"  for="MstGenDealers_PasswordSearchVin">{{
                                l("Province")
                            }}</label>
                            <input
                                type="text"
                                id="MstGenDealers_PasswordSearchVin"
                                class="form-input ipStRequire"
                                [(ngModel)]="mstGenDealers.passwordSearchVin"
								name="PasswordSearchVin"
								required
                            />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6  input-group warpper3 parent">
                            <label class="input-group-addon labelStl"  for="MstGenDealers_Bank">{{
                                l("Bank")
                            }}</label>
                            <input
                                type="text"
                                id="MstGenDealers_Bank"
                                class="form-input"
                                [(ngModel)]="mstGenDealers.bank"
                                name="Bank"
                            />
                        </div>
                        <div class="col-md-6  input-group warpper3 parent">
                            <label class="input-group-addon labelStl"  for="MstGenDealers_BankAddress">{{
                                l("BankAddress")
                            }}</label>
                            <input
                                type="text"
                                id="MstGenDealers_BankAddress"
                                class="form-input"
                                [(ngModel)]="mstGenDealers.bankAddress"
                                name="BankAddress"
                            />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6  input-group warpper3 parent">
                            <label class="input-group-addon labelStl"  for="MstGenDealers_Description">{{
                                l("Description")
                            }}</label>
                            <input
                                type="text"
                                id="MstGenDealers_Description"
                                class="form-input"
                                [(ngModel)]="mstGenDealers.description"
                                name="Description"
                            />
                        </div>
                        <div class="col-md-6  input-group warpper3 parent">
                            <label class="input-group-addon labelStl"  for="MstGenDealers_RecievingAddress">{{
                                l("RecievingAddress")
                            }}</label>
                            <input
                                type="text"
                                id="MstGenDealers_RecievingAddress"
                                class="form-input"
                                [(ngModel)]="mstGenDealers.recievingAddress"
                                name="RecievingAddress"
                            />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button
                        [disabled]="saving"
                        type="button"
                        class="btn btn-default"
                        (click)="close()"
                    >
                        {{ l("Cancel") }}
                    </button>
                    <button
                        type="submit"
                        class="btn btn-primary blue"
                        [disabled]="!mstGenDealersForm.form.valid"
                        [buttonBusy]="saving"
                        [busyText]="l('SavingWithThreeDot')"
                    >
                        <i class="fa fa-save"></i> <span>{{ l("Save") }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
