<div [@routerTransition]>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
      <div class="kt-subheader kt-grid__item">
        <div [class]="containerClass">
          <div class="kt-subheader__main">
              <h3 class="kt-subheader__title">
                  <span>{{l("MstGenDealers")}}</span>
              </h3>
              <span class="kt-subheader__separator kt-subheader__separator--v"></span>
              <span class="kt-subheader__desc">
                  {{l("MstGenDealersHeaderInfo")}}
              </span>
          </div>
          <div class="kt-subheader__toolbar">
              <div class="kt-subheader__wrapper">
                  <button (click)="exportToExcel()" class="btn btn-outline-success"><i class="fa fa-file-excel"></i> {{l("ExportToExcel")}}</button>
                  <button *ngIf="isGranted('Pages.Master.Sales.MstGenDealers.Create')" (click)="createMstGenDealers()" 
              class="btn btn-primary blue"><i class="fa fa-plus"></i> {{l("CreateNewMstGenDealers")}}</button>
              </div>
          </div>
        </div>
      </div>
      <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
          <div class="kt-portlet kt-portlet--mobile">
              <div class="kt-portlet__body">
                  <form class="kt-form" autocomplete="off">
                      <div>
                          <div class="row align-items-center">
                              <div class="col-xl-12">
                                  <div class="form-group m-form__group align-items-center">
                                      <div class="input-group">
                                          <input [(ngModel)]="filterText" name="filterText" autoFocus class="form-control m-input" [placeholder]="l('SearchWithThreeDot')" type="text">
                                          <span class="input-group-btn">
                                              <button (click)="getMstGenDealers()" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                          </span>
                                      </div>
                                  </div>
                              </div>
                          </div>
                           <div class="row" [hidden]="!advancedFiltersAreShown">
                               <div class="col-md-12">
                                   <div class="kt-separator kt-separator--border-dashed"></div>
                               </div>
                              <div class="col-md-3">
                                  <div class="form-group">
                                      <label for="CodeFilter">{{l("Code")}}</label>
                                      <input type="text" class="form-control" id="CodeFilter" name="codeFilter" [(ngModel)]="codeFilter">
                                  </div>
                              </div>
                              <div class="col-md-3">
                                  <div class="form-group">
                                      <label for="AccountNoFilter">{{l("AccountNo")}}</label>
                                      <input type="text" class="form-control" id="AccountNoFilter" name="accountNoFilter" [(ngModel)]="accountNoFilter">
                                  </div>
                              </div>
                              <div class="col-md-3">
                                  <div class="form-group">
                                      <label for="BankFilter">{{l("Bank")}}</label>
                                      <input type="text" class="form-control" id="BankFilter" name="bankFilter" [(ngModel)]="bankFilter">
                                  </div>
                              </div>
                              <div class="col-md-3">
                                  <div class="form-group">
                                      <label for="BankAddressFilter">{{l("BankAddress")}}</label>
                                      <input type="text" class="form-control" id="BankAddressFilter" name="bankAddressFilter" [(ngModel)]="bankAddressFilter">
                                  </div>
                              </div>
                              <div class="col-md-3">
                                  <div class="form-group">
                                      <label for="VnNameFilter">{{l("VnName")}}</label>
                                      <input type="text" class="form-control" id="VnNameFilter" name="vnNameFilter" [(ngModel)]="vnNameFilter">
                                  </div>
                              </div>
                              <div class="col-md-3">
                                  <div class="form-group">
                                      <label for="EnNameFilter">{{l("EnName")}}</label>
                                      <input type="text" class="form-control" id="EnNameFilter" name="enNameFilter" [(ngModel)]="enNameFilter">
                                  </div>
                              </div>
                              <div class="col-md-3">
                                  <div class="form-group">
                                      <label for="AddressFilter">{{l("Address")}}</label>
                                      <input type="text" class="form-control" id="AddressFilter" name="addressFilter" [(ngModel)]="addressFilter">
                                  </div>
                              </div>
                              <div class="col-md-3">
                                  <div class="form-group">
                                      <label for="AbbreviationFilter">{{l("Abbreviation")}}</label>
                                      <input type="text" class="form-control" id="AbbreviationFilter" name="abbreviationFilter" [(ngModel)]="abbreviationFilter">
                                  </div>
                              </div>
                              <div class="col-md-3">
                                  <div class="form-group">
                                      <label for="ContactPersonFilter">{{l("ContactPerson")}}</label>
                                      <input type="text" class="form-control" id="ContactPersonFilter" name="contactPersonFilter" [(ngModel)]="contactPersonFilter">
                                  </div>
                              </div>
                              <div class="col-md-3">
                                  <div class="form-group">
                                      <label for="PhoneFilter">{{l("Phone")}}</label>
                                      <input type="text" class="form-control" id="PhoneFilter" name="phoneFilter" [(ngModel)]="phoneFilter">
                                  </div>
                              </div>
                              <div class="col-md-3">
                                  <div class="form-group">
                                      <label for="StatusFilter">{{l("Status")}}</label>
                                      <input type="text" class="form-control" id="StatusFilter" name="statusFilter" [(ngModel)]="statusFilter">
                                  </div>
                              </div>
                              <div class="col-md-3">
                                  <div class="form-group">
                                      <label for="FaxFilter">{{l("Fax")}}</label>
                                      <input type="text" class="form-control" id="FaxFilter" name="faxFilter" [(ngModel)]="faxFilter">
                                  </div>
                              </div>
                              <div class="col-md-3">
                                  <div class="form-group">
                                      <label for="DescriptionFilter">{{l("Description")}}</label>
                                      <input type="text" class="form-control" id="DescriptionFilter" name="descriptionFilter" [(ngModel)]="descriptionFilter">
                                  </div>
                              </div>
                              <div class="col-md-3">
                                  <div class="form-group">
                                      <label for="TaxCodeFilter">{{l("TaxCode")}}</label>
                                      <input type="text" class="form-control" id="TaxCodeFilter" name="taxCodeFilter" [(ngModel)]="taxCodeFilter">
                                  </div>
                              </div>
                              <div class="col-md-3">
                                  <div class="form-group">
                                      <label for="IslexusFilter">{{l("Islexus")}}</label>
                                      <input type="text" class="form-control" id="IslexusFilter" name="islexusFilter" [(ngModel)]="islexusFilter">
                                  </div>
                              </div>
                              <div class="col-md-3">
                                  <div class="form-group">
                                      <label for="RecievingAddressFilter">{{l("RecievingAddress")}}</label>
                                      <input type="text" class="form-control" id="RecievingAddressFilter" name="recievingAddressFilter" [(ngModel)]="recievingAddressFilter">
                                  </div>
                              </div>
                          </div>
                          <div class="row mb-2">
                              <div class="col-sm-12">
                                  <span class="clickable-item text-muted" *ngIf="!advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-down"></i> {{l("ShowAdvancedFilters")}}</span>
                                  <span class="clickable-item text-muted" *ngIf="advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-up"></i> {{l("HideAdvancedFilters")}}</span>
                              </div>
                          </div>
                      </div>
                  </form>
  
                  <div class="row align-items-center">
                      <!--<Primeng-Datatable-Start>-->
                      <div class="ui-table-globalfilter-containerr col-12"
                           [busyIf]="primengTableHelper.isLoading">
                          <p-table #dataTable
                                       (onLazyLoad)="getMstGenDealers($event)"
                                       [value]="primengTableHelper.records"
                                       rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
                                       [paginator]="false"
                                       [lazy]="true"
                                       filter="true" [filters]="primengTableHelper.records"
                                       [responsive]="primengTableHelper.isResponsive"
                                       [resizableColumns]="true"
                                       [rowHover]="true"
                                       columnResizeMode="expand"
                                        >
                              <ng-template pTemplate="header"let-columns>
                                  <tr>
                                      <th style="width: 130px" [hidden]="!isGrantedAny('Pages.Master.Sales.MstGenDealers.Edit', 'Pages.Master.Sales.MstGenDealers.Delete')" pResizableColumn>{{l('Actions')}}</th>
                                      <th style="width: 150px" pSortableColumn="code" pResizableColumn>
                                          {{l('Code')}}
                                          <p-sortIcon field="mstGenDealers.code"></p-sortIcon>
                                      </th>
                                      <th style="width: 150px" pSortableColumn="accountNo" pResizableColumn>
                                          {{l('AccountNo')}}
                                          <p-sortIcon field="mstGenDealers.accountNo"></p-sortIcon>
                                      </th>
                                      <th style="width: 150px" pSortableColumn="bank" pResizableColumn>
                                          {{l('Bank')}}
                                          <p-sortIcon field="mstGenDealers.bank"></p-sortIcon>
                                      </th>
                                      <th style="width: 150px" pSortableColumn="bankAddress" pResizableColumn>
                                          {{l('BankAddress')}}
                                          <p-sortIcon field="mstGenDealers.bankAddress"></p-sortIcon>
                                      </th>
                                      <th style="width: 150px" pSortableColumn="vnName" pResizableColumn>
                                          {{l('VnName')}}
                                          <p-sortIcon field="mstGenDealers.vnName"></p-sortIcon>
                                      </th>
                                      <th style="width: 150px" pSortableColumn="enName" pResizableColumn>
                                          {{l('EnName')}}
                                          <p-sortIcon field="mstGenDealers.enName"></p-sortIcon>
                                      </th>
                                      <th style="width: 150px" pSortableColumn="address" pResizableColumn>
                                          {{l('Address')}}
                                          <p-sortIcon field="mstGenDealers.address"></p-sortIcon>
                                      </th>
                                      <th style="width: 150px" pSortableColumn="abbreviation" pResizableColumn>
                                          {{l('Abbreviation')}}
                                          <p-sortIcon field="mstGenDealers.abbreviation"></p-sortIcon>
                                      </th>
                                      <th style="width: 150px" pSortableColumn="contactPerson" pResizableColumn>
                                          {{l('ContactPerson')}}
                                          <p-sortIcon field="mstGenDealers.contactPerson"></p-sortIcon>
                                      </th>
                                      <th style="width: 150px" pSortableColumn="phone" pResizableColumn>
                                          {{l('Phone')}}
                                          <p-sortIcon field="mstGenDealers.phone"></p-sortIcon>
                                      </th>
                                      <th style="width: 150px" pSortableColumn="status" pResizableColumn>
                                          {{l('Status')}}
                                          <p-sortIcon field="mstGenDealers.status"></p-sortIcon>
                                      </th>
                                      <th style="width: 150px" pSortableColumn="fax" pResizableColumn>
                                          {{l('Fax')}}
                                          <p-sortIcon field="mstGenDealers.fax"></p-sortIcon>
                                      </th>
                                      <th style="width: 150px" pSortableColumn="description" pResizableColumn>
                                          {{l('Description')}}
                                          <p-sortIcon field="mstGenDealers.description"></p-sortIcon>
                                      </th>
                                      <th style="width: 150px" pSortableColumn="ordering" pResizableColumn>
                                          {{l('Ordering')}}
                                          <p-sortIcon field="mstGenDealers.ordering"></p-sortIcon>
                                      </th>
                                      <th style="width: 150px" pSortableColumn="taxCode" pResizableColumn>
                                          {{l('TaxCode')}}
                                          <p-sortIcon field="mstGenDealers.taxCode"></p-sortIcon>
                                      </th>                           
                                      <th style="width: 150px" pSortableColumn="islexus" pResizableColumn>
                                          {{l('Islexus')}}
                                          <p-sortIcon field="mstGenDealers.islexus"></p-sortIcon>
                                      </th>
                                      <th style="width: 150px" pSortableColumn="recievingAddress" pResizableColumn>
                                          {{l('RecievingAddress')}}
                                          <p-sortIcon field="mstGenDealers.recievingAddress"></p-sortIcon>
                                      </th>
                                      <th style="width: 150px" pSortableColumn="passwordSearchVin" pResizableColumn>
                                          {{l('Province Id')}}
                                          <p-sortIcon field="mstGenDealers.passwordSearchVin"></p-sortIcon>
                                      </th>
                                  </tr>
                                  <tr>
                                      <th>
                                       
                                      </th>
                                      <th pResizableColumn>
                                        <input pInputText type="text" (input)="getMstGenDealers()"  Class="ui-column-filter"  [(ngModel)]="codeFilter">
                                      </th>
                                      <th>
                                        <input pInputText type="text" (input)="getMstGenDealers()" Class="ui-column-filter " [(ngModel)]="accountNoFilter">
                                      </th> 
                                      <th> 
                                        <input pInputText type="text" (input)="getMstGenDealers()" Class="ui-column-filter " [(ngModel)]="bankFilter">
                                      </th> 
                                      <th> 
                                        <input pInputText type="text" (input)="getMstGenDealers()" Class="ui-column-filter " [(ngModel)]="bankAddressFilter">
                                      </th> 
                                      <th> 
                                        <input pInputText type="text" (input)="getMstGenDealers()" Class="ui-column-filter " [(ngModel)]="vnNameFilter">
                                      </th> 
                                      <th> 
                                        <input pInputText type="text" (input)="getMstGenDealers()" Class="ui-column-filter " [(ngModel)]="enNameFilter">
                                      </th> 
                                      <th> 
                                        <input pInputText type="text" (input)="getMstGenDealers()" Class="ui-column-filter " [(ngModel)]="addressFilter">
                                      </th> 
                                      <th> 
                                        <input pInputText type="text" (input)="getMstGenDealers()" Class="ui-column-filter " [(ngModel)]="abbreviationFilter">
                                      </th> 
                                      <th> 
                                        <input pInputText type="text" (input)="getMstGenDealers()" Class="ui-column-filter " [(ngModel)]="contactPersonFilter">
                                      </th> 
                                      <th> 
                                        <input pInputText type="text" (input)="getMstGenDealers()" Class="ui-column-filter " [(ngModel)]="phoneFilter">
                                      </th> 
                                      <th> 
                                        <input pInputText type="text" (input)="getMstGenDealers()" Class="ui-column-filter " [(ngModel)]="statusFilter">
                                      </th> 
                                      <th> 
                                        <input pInputText type="text" (input)="getMstGenDealers()" Class="ui-column-filter " [(ngModel)]="faxFilter">
                                      </th> 
                                      <th> 
                                        <input pInputText type="text" (input)="getMstGenDealers()" Class="ui-column-filter " [(ngModel)]="descriptionFilter">
                                      </th> 
                                      <th> 
                                        
                                      </th> 
                                      <th> 
                                        <input pInputText type="text" (input)="getMstGenDealers()" Class="ui-column-filter " [(ngModel)]="taxCodeFilter">
                                      </th> 
                                      <th> 
                                        <input pInputText type="text" (input)="getMstGenDealers()" Class="ui-column-filter " [(ngModel)]="islexusFilter">
                                      </th> 
                                      <th> 
                                        <input pInputText type="text" (input)="getMstGenDealers()" Class="ui-column-filter " [(ngModel)]="recievingAddressFilter">
                                      </th> 
                                      <th> 
                                        <input pInputText type="text" (input)="getMstGenDealers()" Class="ui-column-filter " [(ngModel)]="passwordSearchVinFilter">
                                      </th>

                                  </tr>
                              </ng-template>                           
                              <ng-template pTemplate="body" let-rowData let-record="$implicit">
                                  <tr>
                                      <td style="width: 130px"
                                          [hidden]="!isGrantedAny('Pages.Master.Sales.MstGenDealers.Edit', 'Pages.Master.Sales.MstGenDealers.Delete')">
                                         <div class="btn-group dropdown" dropdown container="body">
                                              <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                  <i class="fa fa-cog"></i><span class="caret"></span> {{l("Actions")}}
                                              </button>
                                                  <ul class="dropdown-menu"  *dropdownMenu>
                                                  <li>
                                                      <a href="javascript:;"
                                                          (click)="viewMstGenDealersModal.show(record)">{{l('View')}}</a>
                                                  </li>
                                                  <li>
                                                      <a href="javascript:;" *ngIf="permission.isGranted('Pages.Master.Sales.MstGenDealers.Edit')"
                                                          (click)="createOrEditMstGenDealersModal.show(record.mstGenDealers.id)">{{l('Edit')}}</a>
                                                  </li>
                                                  <li>
                                                      <a href="javascript:;" *ngIf="permission.isGranted('Pages.Master.Sales.MstGenDealers.Delete')"
                                                          (click)="deleteMstGenDealers(record.mstGenDealers)">{{l('Delete')}}</a>
                                                  </li>
                                              </ul>
                                          </div>
                                      </td>
                                      <td style="width:150px">
                                              <span class="ui-column-title ui-resizable-column"> {{l('Code')}}</span>
                                              {{record.mstGenDealers.code}}
                                          </td>
                                      <td style="width:150px">
                                              <span class="ui-column-title ui-resizable-column"> {{l('AccountNo')}}</span>
                                              {{record.mstGenDealers.accountNo}}
                                          </td>
                                      <td style="width:150px">
                                              <span class="ui-column-title ui-resizable-column"> {{l('Bank')}}</span>
                                              {{record.mstGenDealers.bank}}
                                          </td>
                                      <td style="width:150px">
                                              <span class="ui-column-title ui-resizable-column"> {{l('BankAddress')}}</span>
                                              {{record.mstGenDealers.bankAddress}}
                                          </td>
                                      <td style="width:150px">
                                              <span class="ui-column-title ui-resizable-column"> {{l('VnName')}}</span>
                                              {{record.mstGenDealers.vnName}}
                                          </td>
                                      <td style="width:150px">
                                              <span class="ui-column-title ui-resizable-column"> {{l('EnName')}}</span>
                                              {{record.mstGenDealers.enName}}
                                          </td>
                                      <td style="width:150px">
                                              <span class="ui-column-title ui-resizable-column"> {{l('Address')}}</span>
                                              {{record.mstGenDealers.address}}
                                          </td>
                                      <td style="width:150px">
                                              <span class="ui-column-title ui-resizable-column"> {{l('Abbreviation')}}</span>
                                              {{record.mstGenDealers.abbreviation}}
                                          </td>
                                      <td style="width:150px">
                                              <span class="ui-column-title ui-resizable-column"> {{l('ContactPerson')}}</span>
                                              {{record.mstGenDealers.contactPerson}}
                                          </td>
                                      <td style="width:150px">
                                              <span class="ui-column-title ui-resizable-column"> {{l('Phone')}}</span>
                                              {{record.mstGenDealers.phone}}
                                          </td>
                                      <td style="width:150px">
                                              <span class="ui-column-title ui-resizable-column"> {{l('Status')}}</span>
                                              {{record.mstGenDealers.status}}
                                          </td>
                                      <td style="width:150px">
                                              <span class="ui-column-title ui-resizable-column"> {{l('Fax')}}</span>
                                              {{record.mstGenDealers.fax}}
                                          </td>
                                      <td style="width:150px">
                                              <span class="ui-column-title ui-resizable-column"> {{l('Description')}}</span>
                                              {{record.mstGenDealers.description}}
                                          </td>
                                      <td style="width:150px">
                                              <span class="ui-column-title ui-resizable-column"> {{l('Ordering')}}</span>
                                              {{record.mstGenDealers.ordering}}
                                          </td>
                                      <td style="width:150px">
                                              <span class="ui-column-title ui-resizable-column"> {{l('TaxCode')}}</span>
                                              {{record.mstGenDealers.taxCode}}
                                          </td>
                                      <td style="width:150px">
                                              <span class="ui-column-title ui-resizable-column"> {{l('Islexus')}}</span>
                                              {{record.mstGenDealers.islexus}}
                                          </td>
                                      <td style="width:150px">
                                              <span class="ui-column-title ui-resizable-column"> {{l('RecievingAddress')}}</span>
                                              {{record.mstGenDealers.recievingAddress}}
                                          </td>
                                      <td style="width:150px">
                                              <span class="ui-column-title ui-resizable-column"> {{l('PasswordSearchVin')}}</span>
                                              {{record.mstGenDealers.passwordSearchVin}}
                                          </td>
                                  </tr>
                              </ng-template>
                          </p-table>
                          <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                              {{l('NoData')}}
                          </div>
                          <div class="primeng-paging-container">
                              <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                           #paginator
                                           (onPageChange)="getMstGenDealers($event)"
                                           [totalRecords]="primengTableHelper.totalRecordsCount"
                                           [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                              </p-paginator>
                              <span class="total-records-count">
                                  {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                              </span>
                          </div>
                      </div>
                      <!--<Primeng-Datatable-End>-->
                  </div>
              </div>
          </div>
      </div>
  
      <createOrEditMstGenDealersModal #createOrEditMstGenDealersModal (modalSave)="getMstGenDealers()"></createOrEditMstGenDealersModal>
      <viewMstGenDealersModal #viewMstGenDealersModal></viewMstGenDealersModal>
      
    </div>
  </div>
  