<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{l("Details")}}</span>
                </h4>
                <button type="button" class="close" (click)="close()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-6 mb-3">
                        <h6>{{l("CreationTime")}} :</h6>
                        {{ item.mstGenDealers.creationTime | momentFormat:'YYYY-MM-DD HH:mm:ss' }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("LastModificationTime")}} :</h6>
                        {{ item.mstGenDealers.lastModificationTime | momentFormat:'YYYY-MM-DD HH:mm:ss' }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("IsDeleted")}} :</h6>
                        {{ item.mstGenDealers.isDeleted }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("DeletionTime")}} :</h6>
                        {{ item.mstGenDealers.deletionTime | momentFormat:'YYYY-MM-DD HH:mm:ss' }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("Code")}} :</h6>
                        {{ item.mstGenDealers.code }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("AccountNo")}} :</h6>
                        {{ item.mstGenDealers.accountNo }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("Bank")}} :</h6>
                        {{ item.mstGenDealers.bank }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("BankAddress")}} :</h6>
                        {{ item.mstGenDealers.bankAddress }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("VnName")}} :</h6>
                        {{ item.mstGenDealers.vnName }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("EnName")}} :</h6>
                        {{ item.mstGenDealers.enName }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("Address")}} :</h6>
                        {{ item.mstGenDealers.address }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("Abbreviation")}} :</h6>
                        {{ item.mstGenDealers.abbreviation }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("ContactPerson")}} :</h6>
                        {{ item.mstGenDealers.contactPerson }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("Phone")}} :</h6>
                        {{ item.mstGenDealers.phone }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("Status")}} :</h6>
                        {{ item.mstGenDealers.status }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("Fax")}} :</h6>
                        {{ item.mstGenDealers.fax }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("Description")}} :</h6>
                        {{ item.mstGenDealers.description }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("IsSpecial")}} :</h6>
                        {{ item.mstGenDealers.isSpecial }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("Ordering")}} :</h6>
                        {{ item.mstGenDealers.ordering }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("TaxCode")}} :</h6>
                        {{ item.mstGenDealers.taxCode }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("IsSumDealer")}} :</h6>
                        {{ item.mstGenDealers.isSumDealer }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("BiServer")}} :</h6>
                        {{ item.mstGenDealers.biServer }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("TfsAmount")}} :</h6>
                        {{ item.mstGenDealers.tfsAmount }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("PartLeadtime")}} :</h6>
                        {{ item.mstGenDealers.partLeadtime }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("IpAddress")}} :</h6>
                        {{ item.mstGenDealers.ipAddress }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("Islexus")}} :</h6>
                        {{ item.mstGenDealers.islexus }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("IsSellLexusPart")}} :</h6>
                        {{ item.mstGenDealers.isSellLexusPart }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("IsDlrSales")}} :</h6>
                        {{ item.mstGenDealers.isDlrSales }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("RecievingAddress")}} :</h6>
                        {{ item.mstGenDealers.recievingAddress }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("DlrFooter")}} :</h6>
                        {{ item.mstGenDealers.dlrFooter }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("IsPrint")}} :</h6>
                        {{ item.mstGenDealers.isPrint }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("PasswordSearchVin")}} :</h6>
                        {{ item.mstGenDealers.passwordSearchVin }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("PortRegion")}} :</h6>
                        {{ item.mstGenDealers.portRegion }}
                    </div>


                </div>

            </div>
            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="btn btn-primary blue" (click)="close()">{{l("Close")}}</button>
            </div>
        </div>
    </div>

</div>
